.es-media-browser {

	@sidebarWidth: 160px;

	&.layout-album {

		.es-album-item.layout-row {
			margin-right: 15px;
		}
	}

	&.layout-dialog {

		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		.es-widget-body {
			padding-top: 0;
		}

		.es-content {
			padding: 15px;
		}

		.es-content-hint {
			margin-top: -7px - 15px;
			position: fixed;
			width: 50%;
		}
	}

	&.layout-photo {

		> .es-sidebar {
			display: none;
		}

		> .es-content {
			margin: 0;
			padding: 0;
			border: none;
		}
	}

	> i.loading-indicator {
		display: none;
	}

	&.loading {

		.es-sidebar {
			display: none;
		}

		.es-content {
			display: none;
		}

		> i.loading-indicator {
			margin: 10px 0;
			background-color: @esBrowserLoadingBackground;
			display: block;
		}
	}

	.es-widget-head {
		padding: 15px 15px 15px 0px;
		margin: 0;

		.btn-media { // updated from .btn to .btn-media to prevent override generic .btn styles
			padding: 0;
			width: 100%;
			margin-left: 5px;			

			> a {
				padding: 6px 10px;
				display: block;

				> i {
					font-size: 9px;
				}
			}
		}
	}

	.es-widget-body {
		padding: 0;
		padding-top: 15px;
		padding-right: 15px;
	}

	.es-nav {

		margin-right: -15px;

		> li {
		
			> a {
				padding: 5px 5px;
				line-height: 18px;
				position: relative;

				// Icon
				> i {
					background-color: @esBrowserNavIconBackground;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					display: block;
					width: 16px;
					height: 16px;
					float: left;
					margin-right: 6px;
					.border-radius(3px);
					.box-shadow(0 1px 1px rgba(0, 0, 0, 0.3) inset);
				}

				// Title
				> span {
					.text-overflow();
					width: 100px;
					display: inline-block;
				}

				// Stat
				> b {
					display: inline-block;
					position: absolute;
					right: 10px;
					top: 4px;
					height: 18px;
					line-height: 16px;
					background: @esBrowserNavStatBackground;
					border: 1px solid @esBrowserNavStatBorder;
					border-radius: 2px 2px 2px 2px;
					font-weight: normal;
					color: @esBrowserNavStatColor;
					padding: 0 4px;
					font-size: 9px;
				}
			}

			&.loading {
				> a {
					background: url("@{media_uri}/../images/loading.gif") 5px center no-repeat;

					&:before {
						background: none;
					}
				}
				> a > i { opacity: 0; }
			}

			&.active {

				background: none;

				> a > b {
					font-weight: bold;
				}

				// Reposition arrow
				&:before, &:after {
					top: 4px;
				}
			}

			&.new {
				> a > i {
					.box-shadow(none);
					border: 1px dashed @esBrowserNavIconBackground;
					background-color: transparent;
				}
			}	
		}
	}

	.es-album-list-item-group-core + .es-album-list-item-group-regular {

		padding-top: 7px;

		> li {
			border-top: 1px solid @esBrowserBorder;
			padding-top: 15px;

			&:after,
			&:before {
				top: 19px;
			}
		}

		> li + li {
			border-top: none;
			padding-top: 0;

			&:after,
			&:before {
				top: 4px;
			}
		}
	}

	.es-album-list-item-group-core + .es-media-sidebar-actions {
		margin-top: 15px;
		border-top: 1px solid @esBrowserBorder;
		padding-top: 20px;
		margin-right: -15px;
		padding-right: 15px;
	}

	.es-content {
		padding: 15px 0px 15px 15px;
		margin-left: @sidebarWidth;
		// So that photo menus are visible
		overflow: visible;
	}

	.es-sidebar {
		width: @sidebarWidth;
	}

	.es-media-new-button {

		margin-left: 5px;
		margin-bottom: 10px;
		padding: 0;
		text-align: left;
		width: 100%;

		a {
			color: @esBrowserBtnColor;
			text-shadow: 0px 1px 0px @esBrowserBtnTextShadow;
			padding: 6px 10px;
			display: block;
		}

		i {
			font-size: 10px;
			background: none;
			.box-shadow(none);
			font-size: 8px;
			position: relative;
			text-align: center;
			text-indent: 0;
			margin: 0;
			margin-right: 2px;
		}
	}

	.btn-media { // updated from .btn to .btn-media to prevent override generic .btn styles
		padding: 0;

		> a {
			display: block;
			padding: 6px 10px;
			color: @esBrowserBtnColor;
			text-shadow: 0px 1px 0px @esBrowserBtnTextShadow;
			outline: 0;
		}
	}

	.btn-es-primary {

		> a {
			color: @esBrowserBtnPrimaryColor;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		}
	}

	.es-content-hint {
		margin-top: -7px;
		position: relative;
		text-align: center;
		top: 50%;
		color: @esBrowserHintColor;
		font-size: 14px !important;		
	}
}

// Responsive

&.w480 {
	.es-sidebar {
		float: none;
		width: 100%;
		// width: 95%;
		// position: absolute;
		// left: -900px;
	}
	
	.es-media-browser {
		//global media header
		.es-media-header {
			> .media {
				height: auto;
				.clearfix();
				padding-bottom: 15px;
				.media-body {
					overflow: visible;
				}
				.es-media-item-menu {
					position: relative;
					clear: both;
					.btn-group {
						+ .btn-group {
							float: left;
						}
					}
				}
			}
			.es-media-info {
				clear: both;
			}
		}

		//photo header
		.es-photo-header {
			> .media {
				padding-bottom: 25px;
				.es-media-item-menu {
					top: 10px;
				}
			}
		}
	}//es-media-browser

	// Responsive
	.es-album-interaction.row-fluid,
	.es-photo-interaction.row-fluid {
		> .span8,
		> .span8 + .span4 {
			width: 100%;
		}
	}
}

