.jhtml_galleries {
  .sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
    .item {
      margin: 3px 3px 3px 0;
      padding: 1px;
      float: left;
      width: 100px;
      height: 90px;
      font-size: 4em;
      text-align: center;
      .featured
      {
        font-size: 9px;
        position: absolute;
        display: none;
      }

    }
    .item:first-child .featured
    {
      display: block;
    }
  }

}