<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Healt and Beauty 2</title>
<style type="text/css">
body {
	background-color: #FFFFFF;
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}

h2{color:#FFCC00 !important; font-size:14px;}
h1{font-size:16px;color:#697065;}

.acymailing_online{color: #5C5C5C;font-weight: bold;}
.acymailing_unsub{color: #5C5C5C;font-weight: bold;}

p{color:#E3E3DF;}

</style>
</head>

<body>
<div align="center" style="background-color:#FFFFFF;text-align:center">
  <table width="600" border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
   <tr>
	<td height="14" valign="top"><div class="hideonline" align="center" style="font-size: 12px; text-align:center; color:#5C5C5C;">
This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}. </div></td>
</tr>
    <tr>
      <td width="600" height="104" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        
        <tr>
          <td width="600" height="120"><table border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
              <td style="line-height:0px;"><img name="header_r1_c1" src="header_r1_c1.png" width="600" height="32" border="0" id="header_r1_c1" alt="header" /></td>
            </tr>
            <tr>
              <td><table border="0" cellpadding="0" cellspacing="0" width="600" height="256">
                  <tr>
                    <td style="background-color:#F4F4F2; line-height:0px;" height="256"><img name="header_r2_c1" src="header_r2_c1.png" width="322" height="256" border="0" alt="img" /></td>
                    <td><table border="0" cellpadding="0" cellspacing="0" width="278" height="256">
                        <tr>
                          <td>
                          <table border="0" cellpadding="0" cellspacing="0" width="278" height="199" style=" font-size:12px; color:#808172; background-color:#F4F4F2;">
                            
                              <tr>
                                <td width="31" height="199" valign="top" style="line-height:0px;"><img name="header_r2_c3" src="header_r2_c3.png" width="31" height="199" border="0" id="header_r2_c3" alt="|" /></td>
                                <td width="235" valign="top" style="text-align:justify; color:#666"><h1>HEALT &amp; BEAUTY</h1>Su uso se amet, consectetuer adipiscing elit. Sed risus no.<br />
                                    Tortor Suspendisse lectus, dignissim sentarse amet, adipiscing ultricies ncop sed, dolor. Elementum cras ultrices diam. <br />
                                  </td>
                              <td width="12"></td>
                              </tr>

                              
                          </table></td>
                        </tr>
                        <tr>
                          <td style="background-color:#9EA49B; line-height:0px;"><img name="header_r3_c3" src="header_r3_c3.png" width="278" height="57" border="0" id="header_r3_c3" alt="" /></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td style="background-color:#E8E8E3;" height="67"><img name="header_r4_c1" src="header_r4_c1.png" width="600" height="67" border="0" id="header_r4_c1" alt="img" /></td>
            </tr>
            <tr>
              <td><table border="0" cellpadding="0" cellspacing="0" width="600">
                  <tr>
                    <td><table border="0" cellpadding="0" cellspacing="0" width="225">
                      
                        <tr>
                          <td width="225" height="126" valign="top">
                          <table width="225" border="0" cellpadding="0" cellspacing="0" style="background-color:#E8E8E3;">
                            
                            <tr>
                              <td width="12" height="126"></td>
                                <td width="213" valign="top" style="text-align:left;"><h1>TITLE NAME <br /> 
                                  COMPANY SLOGAN</h1></td>
                              </tr>
                          </table></td>
                          </tr>
                        <tr>
                          <td height="136" valign="top" style="background-color:#687065; line-height:0px"><img name="header_r6_c1" src="header_r6_c1.png" width="225" height="136" border="0" id="header_r6_c1" alt="" /></td>
                        </tr>
                    </table></td>
                    <td><table border="0" cellpadding="0" cellspacing="0" width="375">
                        <tr>
                          <td style="background-color:#E8E8E3; line-height:0px;"><img name="header_r5_c2" src="header_r5_c2.png" width="375" height="142" border="0" id="header_r5_c2" alt="" /></td>
                        </tr>
                        <tr>
                          <td style="line-height:0px;"><img name="header_r7_c2" src="header_r7_c2.png" width="375" height="120" border="0" id="header_r7_c2" alt="" /></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
      </table>      </td>
    </tr>
    <tr>
      <td valign="top"><table width="600" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="600" valign="top"><table width="600" border="0" cellpadding="0" cellspacing="0" style="background-color:#687065;  font-size:12px; color:#E3E3DF; ">
            
            <tr>
              <td width="14" ></td>
                  <td width="276" valign="top" style="text-align:justify; color:#E3E3DF"><h2>DEAR {subtag:name},</h2>
                    <p>Su uso se amet, consectetuer adipiscing elit. Sed risus no.
                      Tortor Suspendisse lectus, dignissim sentarse amet, adipiscing ultricies ncop sed, dolor. Elementum cras ultrices diam. Mecenas ligula massa, variusun congue sempre,, euismod no, mi. porttitor PROIN, Orci ncop nonummy molestie, est enim eleifend mi, no nisl diámetro fermentum sentarse erat amet.
Duis sempre. Duis massa arcu, scelerisque vitae, en consequat, pretium uno, enim. congue pellentesque. </p>
                    <p><img src="img1.png" width="196" height="138" style="text-align:left;"  alt="" /><br />
                  </p>
				  <br/>
					<h2>LOREP IPSUM DOLOR</h2>
                    <p>Nulla sollicitudin. Fusce varius, lígula tempus no<br />
                    aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae lígula. Pellentesque rhoncus et nunc augue. Entero id felis. Curabitur diam pellentesque aliquet. Entero quis metus vitae elit lobortis egestas. Su uso se amet, consectetuer adipiscing elit. Morbi erat vel no convallis mauris vehicula. Nulla et sapiens. </p>
                    <h2>LOREP IPSUM DOLOR</h2>
                    <p>Nulla sollicitudin. Fusce varius, lígula tempus no
                      aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae lígula. Pellentesque rhoncus et nunc augue. Entero id felis. Curabitur diam pellentesque aliquet. Entero quis metus vitae elit lobortis egestas. <br />
                    </p>
                    <p><br />
                  </p>
				  
				  </td>
                  <td width="25"></td>
                  <td width="271"valign="top" style="text-align:justify;"><p>Ut en tempor pharetra risus volutpat líbero.
                      vestíbulo cras bibendum augue. Praesent egestas leo en pede. Praesent
                      blandit odio enim eu. Pellentesque sed ut dui augue sodales blandit.
                      Ipsum primis vestíbulo ante en faucibus Orci luctus et ultrices posuere
                      cubilia Curae; nibh aliquam. mauris Mauris sed ac pede pellentesque
                      fermentum. Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita
                      mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa.
                      pulvinar suscipit. </p>
					  <br/>
					  <br/>
                    <h2>LOREP IPSUM DOLOR</h2>
                    <p>Ut en tempor pharetra risus volutpat líbero.
                      vestíbulo cras bibendum augue. Praesent egestas leo en pede. Praesent
                      blandit odio enim eu. Pellentesque sed ut dui augue sodales blandit.<br />
                      Ipsum primis vestíbulo ante en faucibus Orci luctus et ultrices posuere
                      cubilia Curae; nibh aliquam. mauris Mauris sed ac pede pellentesque
                      fermentum. Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita
                      mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa
                      pulvinar suscipit.
                    </p>                <p><br />
                    </p></td>
                  <td width="14"></td>
                </tr>
            <tr>
              <td height="73" colspan="5" valign="top"><img src="footer.png" width="600" height="73"  alt="" /></td>
              </tr>
            
            
            </table></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td height="14" valign="top"><div style="font-size: 12px; text-align:center;color: #5C5C5C;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe} </div></td>
    </tr>
  </table>
</div>
</body>
</html>
