.block-item[data-block-id="3033"][data-block-parent-id="3029"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:none;
background-color:none;

}
