










































































































































































































.main-container .block-item[data-block-id="3858"][data-block-parent-id="3519"] {    background-color: #3e99b2;    /* IE9, iOS 3.2+ */    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNzNiNWM3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM3NGI1YzciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAwNTg5MzkwOTYyNjcxODk5NCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwODdjOWQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAwNiIvPjxzdG9wIHN0b3AtY29sb3I9IiM3NGI1YzciIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk5OCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwODdjOWQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjk5ODEwNjA5MDM3MzI4MDkiLz48c3RvcCBzdG9wLWNvbG9yPSIjNzRiNWM3IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCN2c2dnKSIgLz48L3N2Zz4=);    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(115, 181, 199)),color-stop(0.006, rgb(116, 181, 199)),color-stop(0.006, rgb(8, 124, 157)),color-stop(0.998, rgb(116, 181, 199)),color-stop(0.998, rgb(8, 124, 157)),color-stop(1, rgb(116, 181, 199)));    /* Android 2.3 */    background-image: -webkit-repeating-linear-gradient(top,rgb(8, 124, 157) 0.6%,rgb(116, 181, 199) 99.8%);    /* IE10+ */    background-image: repeating-linear-gradient(to bottom,rgb(8, 124, 157) 0.6%,rgb(116, 181, 199) 99.8%);    background-image: -ms-repeating-linear-gradient(top,rgb(8, 124, 157) 0.6%,rgb(116, 181, 199) 99.8%);}/* IE8- CSS hack */@media \\\\\\\\\\\\\\\\0screen\\\\\\\\\\\\\\\\,screen\\\\\\\\\\\\\\\\9 {    .main-container .block-item[data-block-id="3858"][data-block-parent-id="3519"] {        filter: progid:DXImageTransform.Microsoft.main-container .block-item[data-block-id="3858"][data-block-parent-id="3519"](startColorstr=\\\\\\\\





































.block-item[data-module-id="1211"][element-type="module"]{
Float:none !important;

}
.block-item[data-module-id="1212"][element-type="module"]{
Float:none !important;

}
.block-item[data-module-id="1216"][element-type="module"]{
Float:none !important;

}
