.block-item[data-block-id="3027"][data-block-parent-id="3026"],.control-element[data-block-id="3027"][data-block-parent-id="3026"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:none;
background-color:none;

}
.block-item[data-block-id="3076"][data-block-parent-id="3075"],.control-element[data-block-id="3076"][data-block-parent-id="3075"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:none;

}

