



.main-container .block-item[data-block-id="519"][data-block-parent-id="515"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#e3e7ec !important;
color:none !important;
display:auto !important;

}


.control-element[data-block-id="519"][data-block-parent-id="515"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:none !important;
color:none !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="690"][data-block-parent-id="365"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#e6e6e6 !important;
padding-top:5px !important;
padding-right:15px !important;
padding-bottom:5px !important;
padding-left:15px !important;
display:auto !important;

}

.main-container .block-item[data-block-id="690"][data-block-parent-id="365"] {
    background-color: #2b93b4;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMmM5NGI1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTc1MjQ1NTc5NTY3NzcxOCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMiIvPjxzdG9wIHN0b3AtY29sb3I9IiMyOTkyYjMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzJjOTRiNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTk4Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzJjOTRiNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTk4MjQ3NTQ0MjA0MzIyMyIvPjxzdG9wIHN0b3AtY29sb3I9IiMyOTkyYjMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, #2c94b5),color-stop(0.012, #2c94b5),color-stop(0.012, #2c94b5),color-stop(0.53, #2992b3),color-stop(0.998, #2c94b5),color-stop(0.998, #2c94b5),color-stop(1, #2992b3));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,#2c94b5 1.2%,#2992b3 53%,#2c94b5 99.8%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,#2c94b5 1.2%,#2992b3 53%,#2c94b5 99.8%);
    background-image: -ms-repeating-linear-gradient(top,#2c94b5 1.2%,#2992b3 53%,#2c94b5 99.8%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .main-container .block-item[data-block-id="690"][data-block-parent-id="365"] {
        filter: progid:DXImageTransform.Microsoft.main-container .block-item[data-block-id="690"][data-block-parent-id="365"](startColorstr="#ff2c94b5",endColorstr="#ff2c94b5",GradientType=0);
    }
}
.control-element[data-block-id="690"][data-block-parent-id="365"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




.main-container .block-item[data-block-id="531"][data-block-parent-id="527"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#97d3c5 !important;
padding-top:10px !important;
padding-right:10px !important;
padding-bottom:10px !important;
padding-left:10px !important;
border-top-left-radius:4px !important;
border-top-right-radius:4px !important;
border-bottom-right-radius:4px !important;
border-bottom-left-radius:4px !important;
width:100% !important;
display:auto !important;

}


.control-element[data-block-id="531"][data-block-parent-id="527"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}












































.main-container .block-item[data-block-id="1931"][data-block-parent-id="520"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="1931"][data-block-parent-id="520"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="1942"][data-block-parent-id="1934"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="1942"][data-block-parent-id="1934"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1955"][data-block-parent-id="1941"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1955"][data-block-parent-id="1941"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1943"][data-block-parent-id="1932"]{
font-size:30px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1943"][data-block-parent-id="1932"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1944"][data-block-parent-id="1933"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1944"][data-block-parent-id="1933"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




















.main-container .block-item[data-block-id="1956"][data-block-parent-id="1939"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1956"][data-block-parent-id="1939"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1957"][data-block-parent-id="1938"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1957"][data-block-parent-id="1938"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1958"][data-block-parent-id="1937"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1958"][data-block-parent-id="1937"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1959"][data-block-parent-id="1940"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="1959"][data-block-parent-id="1940"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}










.main-container .block-item[data-block-id="1969"][data-block-parent-id="1967"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1969"][data-block-parent-id="1967"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1970"][data-block-parent-id="1967"]{
text-align:center !important;
text-decoration:inherit !important;
text-transform:uppercase !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1970"][data-block-parent-id="1967"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1973"][data-block-parent-id="1971"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
top:10px !important;
display:auto !important;

}


.control-element[data-block-id="1973"][data-block-parent-id="1971"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1975"][data-block-parent-id="524"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
margin-top:10px !important;
display:auto !important;

}


.control-element[data-block-id="1975"][data-block-parent-id="524"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




.main-container .block-item[data-block-id="2007"][data-block-parent-id="1997"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="2007"][data-block-parent-id="1997"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
width:70px !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="1980"][data-block-parent-id="1977"]{
font-size:30px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#8db9e6 !important;
float:right !important;
display:auto !important;

}


.control-element[data-block-id="1980"][data-block-parent-id="1977"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1981"][data-block-parent-id="1977"]{
font-size:30px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#8db9e6 !important;
float:right !important;
display:auto !important;

}


.control-element[data-block-id="1981"][data-block-parent-id="1977"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:right !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1982"][data-block-parent-id="1976"]{
font-size:30px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#97d3c5 !important;
float:left !important;
display:auto !important;

}


.control-element[data-block-id="1982"][data-block-parent-id="1976"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1983"][data-block-parent-id="1976"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:left !important;
display:auto !important;

}


.control-element[data-block-id="1983"][data-block-parent-id="1976"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:left !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1984"][data-block-parent-id="526"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#f68484 !important;
padding-top:10px !important;
padding-right:10px !important;
padding-bottom:10px !important;
padding-left:10px !important;
border-top-left-radius:4px !important;
border-top-right-radius:4px !important;
border-bottom-right-radius:4px !important;
border-bottom-left-radius:4px !important;
width:100% !important;
display:auto !important;

}


.control-element[data-block-id="1984"][data-block-parent-id="526"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




.main-container .block-item[data-block-id="1988"][data-block-parent-id="1986"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1988"][data-block-parent-id="1986"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="1998"][data-block-parent-id="1997"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#f68484 !important;
padding-top:10px !important;
padding-right:10px !important;
padding-bottom:10px !important;
padding-left:10px !important;
border-top-left-radius:4px !important;
border-top-right-radius:4px !important;
border-bottom-right-radius:4px !important;
border-bottom-left-radius:4px !important;
width:100% !important;
display:auto !important;

}


.control-element[data-block-id="1998"][data-block-parent-id="1997"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1995"][data-block-parent-id="1994"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="1995"][data-block-parent-id="1994"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="1996"][data-block-parent-id="526"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
width:200px !important;
display:auto !important;

}


.control-element[data-block-id="1996"][data-block-parent-id="526"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




.main-container .block-item[data-block-id="2002"][data-block-parent-id="2000"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2002"][data-block-parent-id="2000"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2004"][data-block-parent-id="2003"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2004"][data-block-parent-id="2003"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2009"][data-block-parent-id="2008"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
right:15px !important;
bottom:0px !important;
display:auto !important;

}


.control-element[data-block-id="2009"][data-block-parent-id="2008"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2011"][data-block-parent-id="2010"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#af91e1 !important;
padding-top:10px !important;
padding-right:10px !important;
padding-bottom:10px !important;
padding-left:10px !important;
border-top-left-radius:4px !important;
border-top-right-radius:4px !important;
border-bottom-right-radius:4px !important;
border-bottom-left-radius:4px !important;
width:100% !important;
display:auto !important;

}


.control-element[data-block-id="2011"][data-block-parent-id="2010"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2014"][data-block-parent-id="2013"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2014"][data-block-parent-id="2013"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2015"][data-block-parent-id="2013"]{
text-align:center !important;
text-decoration:inherit !important;
text-transform:uppercase !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2015"][data-block-parent-id="2013"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2017"][data-block-parent-id="2016"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
top:10px !important;
display:auto !important;

}


.control-element[data-block-id="2017"][data-block-parent-id="2016"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2019"][data-block-parent-id="2018"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
right:15px !important;
bottom:0px !important;
display:auto !important;

}


.control-element[data-block-id="2019"][data-block-parent-id="2018"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2021"][data-block-parent-id="2020"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#75b9e6 !important;
padding-top:10px !important;
padding-right:10px !important;
padding-bottom:10px !important;
padding-left:10px !important;
border-top-left-radius:4px !important;
border-top-right-radius:4px !important;
border-bottom-right-radius:4px !important;
border-bottom-left-radius:4px !important;
width:100% !important;
display:auto !important;

}


.control-element[data-block-id="2021"][data-block-parent-id="2020"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2024"][data-block-parent-id="2023"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2024"][data-block-parent-id="2023"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2025"][data-block-parent-id="2023"]{
text-align:center !important;
text-decoration:inherit !important;
text-transform:uppercase !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2025"][data-block-parent-id="2023"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2027"][data-block-parent-id="2026"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
top:10px !important;
display:auto !important;

}


.control-element[data-block-id="2027"][data-block-parent-id="2026"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2029"][data-block-parent-id="2028"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
right:15px !important;
bottom:0px !important;
display:auto !important;

}


.control-element[data-block-id="2029"][data-block-parent-id="2028"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2031"][data-block-parent-id="2030"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#f68484 !important;
padding-top:10px !important;
padding-right:10px !important;
padding-bottom:10px !important;
padding-left:10px !important;
border-top-left-radius:4px !important;
border-top-right-radius:4px !important;
border-bottom-right-radius:4px !important;
border-bottom-left-radius:4px !important;
width:100% !important;
display:auto !important;

}


.control-element[data-block-id="2031"][data-block-parent-id="2030"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2034"][data-block-parent-id="2033"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2034"][data-block-parent-id="2033"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2035"][data-block-parent-id="2033"]{
text-align:center !important;
text-decoration:inherit !important;
text-transform:uppercase !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2035"][data-block-parent-id="2033"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2037"][data-block-parent-id="2036"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
top:10px !important;
display:auto !important;

}


.control-element[data-block-id="2037"][data-block-parent-id="2036"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2039"][data-block-parent-id="2038"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
position:absolute !important;
right:15px !important;
bottom:0px !important;
display:auto !important;

}


.control-element[data-block-id="2039"][data-block-parent-id="2038"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2042"][data-block-parent-id="2041"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
background-color:#e6e6e6 !important;
padding-top:5px !important;
padding-right:15px !important;
padding-bottom:5px !important;
padding-left:15px !important;
display:auto !important;

}

.main-container .block-item[data-block-id="2042"][data-block-parent-id="2041"] {
    background-color: #2b93b4;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMmM5NGI1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMTc1MjQ1NTc5NTY3NzcxOCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjAxMiIvPjxzdG9wIHN0b3AtY29sb3I9IiMyOTkyYjMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjUzIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzJjOTRiNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTk4Ii8+PHN0b3Agc3RvcC1jb2xvcj0iIzJjOTRiNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuOTk4MjQ3NTQ0MjA0MzIyMyIvPjxzdG9wIHN0b3AtY29sb3I9IiMyOTkyYjMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, #2c94b5),color-stop(0.012, #2c94b5),color-stop(0.012, #2c94b5),color-stop(0.53, #2992b3),color-stop(0.998, #2c94b5),color-stop(0.998, #2c94b5),color-stop(1, #2992b3));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,#2c94b5 1.2%,#2992b3 53%,#2c94b5 99.8%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,#2c94b5 1.2%,#2992b3 53%,#2c94b5 99.8%);
    background-image: -ms-repeating-linear-gradient(top,#2c94b5 1.2%,#2992b3 53%,#2c94b5 99.8%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .main-container .block-item[data-block-id="2042"][data-block-parent-id="2041"] {
        filter: progid:DXImageTransform.Microsoft.main-container .block-item[data-block-id="2042"][data-block-parent-id="2041"](startColorstr="#ff2c94b5",endColorstr="#ff2c94b5",GradientType=0);
    }
}
.control-element[data-block-id="2042"][data-block-parent-id="2041"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2044"][data-block-parent-id="2043"]{
font-size:30px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2044"][data-block-parent-id="2043"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2046"][data-block-parent-id="2045"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2046"][data-block-parent-id="2045"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
















.main-container .block-item[data-block-id="2056"][data-block-parent-id="2055"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="2056"][data-block-parent-id="2055"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




.main-container .block-item[data-block-id="2062"][data-block-parent-id="2061"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2062"][data-block-parent-id="2061"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2064"][data-block-parent-id="2063"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2064"][data-block-parent-id="2063"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2066"][data-block-parent-id="2065"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2066"][data-block-parent-id="2065"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2068"][data-block-parent-id="2067"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="2068"][data-block-parent-id="2067"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2070"][data-block-parent-id="2069"]{
font-size:25px !important;
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:#ffffff !important;
display:auto !important;

}


.control-element[data-block-id="2070"][data-block-parent-id="2069"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}












.main-container .block-item[data-block-id="525"][data-block-parent-id="524"]{
text-align:inherit !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="525"][data-block-parent-id="524"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}










.main-container .block-item[data-block-id="1968"][data-block-parent-id="531"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="1968"][data-block-parent-id="531"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




.main-container .block-item[data-block-id="1985"][data-block-parent-id="1984"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="1985"][data-block-parent-id="1984"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="1999"][data-block-parent-id="1998"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="1999"][data-block-parent-id="1998"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2012"][data-block-parent-id="2011"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="2012"][data-block-parent-id="2011"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}




.main-container .block-item[data-block-id="2022"][data-block-parent-id="2021"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="2022"][data-block-parent-id="2021"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2032"][data-block-parent-id="2031"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
display:auto !important;

}


.control-element[data-block-id="2032"][data-block-parent-id="2031"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}












.main-container .block-item[data-block-id="2008"][data-block-parent-id="1968"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
min-height:70px !important;
display:auto !important;

}


.control-element[data-block-id="2008"][data-block-parent-id="1968"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}


.main-container .block-item[data-block-id="2018"][data-block-parent-id="2012"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
min-height:70px !important;
display:auto !important;

}


.control-element[data-block-id="2018"][data-block-parent-id="2012"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2028"][data-block-parent-id="2022"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
min-height:70px !important;
display:auto !important;

}


.control-element[data-block-id="2028"][data-block-parent-id="2022"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}
.main-container .block-item[data-block-id="2038"][data-block-parent-id="2032"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
min-height:70px !important;
display:auto !important;

}


.control-element[data-block-id="2038"][data-block-parent-id="2032"]{
text-align:auto !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
float:auto !important;
display:auto !important;

}






.main-container .block-item[data-block-id="543"][data-block-parent-id="524"]{
text-align:inherit !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:none !important;
background-color:none !important;

}
























.main-container .block-item[data-block-id="555"][data-block-parent-id="524"]{
text-align:inherit !important;
text-decoration:inherit !important;
text-transform:inherit !important;
vertical-align:inherit !important;
white-space:inherit !important;
color:none !important;
background-color:none !important;

}





























.block-item[data-module-id="1070"][element-type="module"]{
margin-top:200px !important;
Float:none !important;

}
