.block-item[data-block-id="2977"][data-block-parent-id="2974"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:#ccc;
background-color:#ccc;

}
.block-item[data-block-id="2981"][data-block-parent-id="2979"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:#ccc;

}
