




.block-item[data-module-id="1211"][element-type="module"]{
Float:none !important;

}
.block-item[data-module-id="1212"][element-type="module"]{
Float:none !important;

}
.block-item[data-module-id="1216"][element-type="module"]{
Float:none !important;

}
