
















































































































.main-container .block-item[data-block-id="2075"][data-block-parent-id="365"] {
    background-color: #1c89ab;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDE3NzlhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjM0MiIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjU5NyIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMTc3OWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, #01779a),color-stop(0.342, #2c94b5),color-stop(0.597, #2c94b5),color-stop(1, #01779a));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,#01779a 0%,#2c94b5 34.2%,#2c94b5 59.7%,#01779a 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,#01779a 0%,#2c94b5 34.2%,#2c94b5 59.7%,#01779a 100%);
    background-image: -ms-repeating-linear-gradient(top,#01779a 0%,#2c94b5 34.2%,#2c94b5 59.7%,#01779a 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .main-container .block-item[data-block-id="2075"][data-block-parent-id="365"] {
        filter: progid:DXImageTransform.Microsoft.main-container .block-item[data-block-id="2075"][data-block-parent-id="365"](startColorstr="#ff01779a",endColorstr="#ff01779a",GradientType=0);
    }
}































.block-item[data-module-id="1070"][element-type="module"]{
margin-top:200px !important;
Float:none !important;

}
