<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset name="PROFILE_IMPORT">
        <field name="import_always"
               type="radio"
               label="COM_JFBCONNECT_JOOMLA_PROFILE_IMPORT_ALWAYS_LABEL"
               description="COM_JFBCONNECT_JOOMLA_PROFILE_IMPORT_ALWAYS_DESC"
               default="0"
               labelclass="config_setting"
               class="btn-group">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <!--        <field name="user_group_options"
                       type="socialprofilesjoomlaaccessgroups"
                       label="COM_JFBCONNECT_JOOMLA_PROFILE_IMPORT_ALWAYS_LABEL"
                       description="COM_JFBCONNECT_K2_PROFILE_IMPORT_ALWAYS_DESC"
                       labelclass="config_setting"
                       />-->
        <!--        <field name="registration_show_fields"
                       type="radio"
                       label="COM_JFBCONNECT_JOOMLA_NORMAL_REGISTRATION_SHOW_PROFILE_FIELDS_LABEL"
                       description="COM_JFBCONNECT_JOOMLA_NORMAL_REGISTRATION_SHOW_PROFILE_FIELDS_DESC"
                       default="0"
                       labelclass="config_setting"
                       class="btn-group">
                    <option value="0">JNO</option>
                    <option value="1">JYES</option>
                </field>
                <field name="imported_show_fields"
                       type="radio"
                       label="COM_JFBCONNECT_JOOMLA_NORMAL_REGISTRATION_SHOW_IMPORTED_FIELDS_LABEL"
                       description="COM_JFBCONNECT_JOOMLA_NORMAL_REGISTRATION_SHOW_IMPORTED_FIELDS_DESC"
                       default="1"
                       labelclass="config_setting"
                       class="btn-group">
                    <option value="0">JNO</option>
                    <option value="1">JYES</option>
                </field>-->
    </fieldset>
</form>