.menu_tour
{
  .tab-content

  {
    .tab-pane {
      padding: 5px;
      .list-menu-item {
        width: 80%;
        list-style: none;

        li {
        }
        li.active,li.active a
        {
          color: #f0713a;
        }
      }
    }
  }
}