<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Business and Event</title>
<style type="text/css">
<!--
.es {
	font-size: 12px;
	color: #CC6600;
}
body {
	background-color: #FFFFFF;
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
h1{color:#404848; text-align:left;font-size:16px;}
h2{color:#EAF2EC !important; font-weight:bold;font-size:14px;}
h3{font-size: 14px;font-weight: bold;color:#646666 !important;}

.acymailing_online{color: #000000;font-weight: bold;}
.acymailing_unsub{color: #000000;font-weight: bold;}
-->
</style>
</head>

<body>
<div align="center" style="text-align:center" >
  <table width="600" border="0" cellpadding="0" cellspacing="0" style="margin:auto;">
    
	 <tr>
      <td width="600" valign="top"> <div align="center" style="margin-bottom:10px;color: #5C5C5C;text-align:center;">
This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}.</div></td>
    </tr>
    <tr>
      <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        
        <tr>
          <td width="600" height="21" valign="top"><img src="borde_suo.png" width="600" height="21"  alt="" /></td>
          </tr>
        <tr>
          <td valign="top">
		  <table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#EEEFED;">
            
            <tr>
              <td width="136" rowspan="2" valign="top"><img src="img_header.png" width="136" height="187"  alt="" /></td>
                  <td><h1>TITLE NAME <br />
                COMPANY SLOGAN</h1>
                    <p><span style="font-size:12px; color:#6F7B7B; text-align:left; ">Su uso se amet, consectetuer adipiscing elit. Sed risus no.Tortor Suspendisse lectus.</span></p>
                    <p><img src="btn_readMoreHeader.png" width="78" height="24" align="left"  alt="" /></p>                <p><br />
                    </p></td>
                </tr>
            <tr>
              <td height="19" valign="bottom"><img src="bordeheader.png" width="464" height="19"  alt="" /></td>
                </tr>
            </table>
			
			</td>
          </tr>
      </table></td>
    </tr>
	<tr><td style="background-color:#EEEFED;line-height:0px;" ><img src="barraMenu.png" width="600" height="31"  alt="" /></td></tr>
    <tr>
      <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#484A4A; color:#C9DECE; text-align:left; ">
        
        <tr>
          <td width="11" style="color:#484A4A;">.</td>
            <td width="278">&nbsp;</td>
            <td width="12">&nbsp;</td>
            <td width="287">&nbsp;</td>
            <td width="12" style="color:#484A4A;">.</td>
          </tr>
        <tr>
          <td>&nbsp;</td>
            <td colspan="3" valign="top" style="color:#C9DECE;">
			<h2>DEAR {subtag:name},</h2>
			<p><img src="img1.png" width="136" height="97" align="right"  alt="" />Mecenas ligula massa, varius un congue sempre,, euismod no, mi. porttitor PROIN, Orci ncop nonummy molestie, est enim eleifend mi, no nisl diámetro fermentum sentarse erat amet. Duis sempre.</p>            <p> <a href="#"><img src="btn_readMore.png" width="76" height="20" border="0"  alt="" /></a><br />
              </p><br/><img src="lineaHorizontal.png" width="577" height="19"  alt="" /></td>
            <td>&nbsp;</td>
          </tr>
        <tr>
          <td></td>
            <td valign="top" style="color:#C9DECE;"><p>Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa pulvinar suscipit. Nulla sollicitudin. Fusce varius, lígula tempus no aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae lígula. Pellentesque rhoncus et nunc augue. </p>            <p><a href="#"><img src="btn_readMore.png" width="76" height="20" border="0"  alt="" /></a><br />
              </p></td>
            <td>&nbsp;</td>
            <td valign="top" style="color:#C9DECE;"><p>Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa pulvinar suscipit. Nulla sollicitudin. Fusce varius, lígula tempus no aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae lígula. Pellentesque rhoncus et nunc augue.</p>            <p> <a href="#"><img src="btn_readMore.png" width="76" height="20" border="0"  alt="" /></a><br />
              </p></td>
            <td></td>
          </tr>
        <tr>
          <td></td>
            <td colspan="3" valign="top" style="color:#C9DECE;">
			<img src="lineaHorizontal.png" width="577" height="19"  alt="" />
		  <h2>LOREP IPSUM DOLOR</h2>
			<p><img src="img2.png" width="138" height="97" align="left"  alt="" />Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa pulvinar suscipit. Nulla sollicitudin. Fusce varius, lígula tempus no aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae lígula. Pellentesque rhoncus et nunc augue.</p>
              <p> <a href="#"><img src="btn_readMore.png" width="76" height="20" border="0"  alt="" /></a></p>
              <p><img src="img2.png" width="138" height="97" align="left"  alt="" />Mecenas adipiscing ante sodales diámetro no hendrerit. Ut velita mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa pulvinar suscipit. Nulla sollicitudin. Fusce varius, lígula tempus no aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae lígula. Pellentesque rhoncus et nunc augue.</p>
              <p> <a href="#"><img src="btn_readMore.png" width="76" height="20" border="0"  alt="" /></a></p>
              <br/>
			  <img src="lineaHorizontal.png" width="577" height="19"  alt="" />
			  </td>
            <td></td>
          </tr>
        <tr>
          <td colspan="5" valign="top">
			<table width="100%" border="0" cellpadding="0" cellspacing="0" style=" font-size:12px; background-color:#EEEFED; color:#646666;">
            <tr>
              <td height="26" colspan="5" valign="top"><img src="barraFooter.png" width="600" height="26"  alt="" /></td>
                </tr>
            <tr>
              <td width="9" height="15"></td>
                  <td width="225"></td>
                  <td width="10"></td>
                  <td width="343"></td>
                  <td width="13"></td>
                </tr>
            <tr>
              <td ></td>
                  <td valign="top" style="color:#646666;"><h3>LOREP IPSUM DOLOR</h3>                <p>Duis massa arcu, scelerisque vitae, en consequat, pretium uno,enim. congue pellentesque. Ut en tempor pharetra risus volutpat líbero.vestíbulo cras bibendum augue. <br />
                  </p></td>
                  <td>&nbsp;</td>
                  <td valign="top" style="color:#646666;"><p><img src="img1.png" width="136" height="97" align="right"  alt="" />Duis massa arcu, scelerisque vitae, en consequat, pretium uno,enim. congue pellentesque. Ut en tempor pharetra risus Praesent egestas leo en pede. Praesent<br />
                  blandit odio enim eu.</p>                    <p><a href="#"><img src="btn_readMoreHeader.png" width="78" height="24" border="0"  alt="" /></a></p></td>
                  <td></td>
                </tr>
          </table></td>
          </tr>
      </table></td>
    </tr>
    <tr>
      <td height="23">&nbsp;</td>
    </tr>

    <tr>
      <td height="14" valign="top"><div style="font-size: 12px; text-align:center;color: #5C5C5C;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe} </div></td>
    </tr>
  </table>
</div>
</body>
</html>
