.block-item.block-item-dropdown.dropdown-menu.invisible {
	display: none;
}
.control-element.block-item.block-item-dropdown {
	position: fixed;
	top: 200px;
	background: #fff;
	z-index: 99999;
	max-width: 500px;
}
.control-element.block-item.block-item-dropdown .move-dropdown,
.control-element.block-item.block-item-dropdown .config-block,
.control-element.block-item.block-item-dropdown .add-row,
.control-element.block-item.block-item-dropdown .remove-element {
	opacity: 1;
}
.container-website.view_dropdown {
	background: #b3d4fc;
}
.container-website.view_dropdown .main-container {
	visibility: hidden;
}
.container-website.view_dropdown .main-container .view_item_drop_down {
	visibility: visible;
}
.control-element.block-item.block-item-dropdown a.hide-element-dropdow {
	background: #d9534f none repeat scroll 0 0;
	color: #fff;
	display: block;
	font-size: 13px;
	height: 22px;
	position: absolute;
	top: 0;
	width: 20px;
	border-radius: 4px;
}
.control-element.block-item.block-item-dropdown a.hide-element-dropdow .im-exit {
	padding: 2px;
}
