.block-item.block-item-excel
{
  .wtHolder
  {
    height: auto !important;
    width: 100%!important;
  }
}
.control-element.control-element-excell
{
    width: 100% !important;
  .wtHolder,.ht_clone_left.handsontable
  {
    height: auto !important;
    width: 100%!important;
  }
}