.control-element.control-element-div
{
  position: relative;
}
.control-element
{
  .block-item-div
  {
    min-height: 100px;
    width: 100%;
    &:hover
    {
      border: 1px solid #ccc;
    }

  }
  &[get-data-from="datasource"]
  {
    overflow-y: scroll;
    display: block;
    max-height: 300px;
  }
}
.block-item.block-item-room
{
  input[type="date"]
  {
    line-height: normal;

  }
  textarea
  {
    resize: none;
  }
  select.passenger_room
  {
    width: 100%;
  }
}
