.control-element
{

}
.input-group.block-item-select
{
    .input-group-addon {
      border:none;
      background: none;
  }
  .block-item.block-item-select
  {
    min-width: 150px;
  }
}
.select2-container.block-item.block-item-select
{
  width: 100% !important;
}