.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
body div.es-mod {
  display: inline-block;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
body div.es-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body div.es-mod * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body div.es-mod ul,
body div.es-mod ol,
body div.es-mod li {
  margin: 0;
  padding: 0;
}
body div.es-mod ul:before,
body div.es-mod ul:after,
body div.es-mod ol:before,
body div.es-mod ol:after,
body div.es-mod li:before,
body div.es-mod li:after {
  background: none;
  display: none;
}
body div.es-mod tr,
body div.es-mod td {
  border: 1px solid transparent;
}
body div.es-mod a {
  background: transparent;
}
body div.es-mod a:link {
  text-decoration: none;
}
body div.es-mod a:hover {
  color: #005580;
}
body div.es-mod a:hover,
body div.es-mod a:focus,
body div.es-mod a:active {
  color: #08c;
  background-color: transparent;
}
body div.es-mod ol,
body div.es-mod ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body div.es-mod.mv-5,
body div.es-mod .mv-5 {
  margin: 5px 0 !important;
}
body div.es-mod.mv-10,
body div.es-mod .mv-10 {
  margin: 10px 0 !important;
}
body div.es-mod.mv-15,
body div.es-mod .mv-15 {
  margin: 15px 0 !important;
}
body div.es-mod.mt-0,
body div.es-mod .mt-0 {
  margin-top: 0px !important;
}
body div.es-mod.mt-5,
body div.es-mod .mt-5 {
  margin-top: 5px !important;
}
body div.es-mod.mt-10,
body div.es-mod .mt-10 {
  margin-top: 10px !important;
}
body div.es-mod.mt-15,
body div.es-mod .mt-15 {
  margin-top: 15px !important;
}
body div.es-mod.mt-20,
body div.es-mod .mt-20 {
  margin-top: 20px !important;
}
body div.es-mod.mb-0,
body div.es-mod .mb-0 {
  margin-bottom: 0px !important;
}
body div.es-mod.mb-5,
body div.es-mod .mb-5 {
  margin-bottom: 5px !important;
}
body div.es-mod.mb-10,
body div.es-mod .mb-10 {
  margin-bottom: 10px !important;
}
body div.es-mod.mb-15,
body div.es-mod .mb-15 {
  margin-bottom: 15px !important;
}
body div.es-mod.mb-20,
body div.es-mod .mb-20 {
  margin-bottom: 20px !important;
}
body div.es-mod.mr-0,
body div.es-mod .mr-0 {
  margin-right: 0px !important;
}
body div.es-mod.mr-5,
body div.es-mod .mr-5 {
  margin-right: 5px !important;
}
body div.es-mod.mr-10,
body div.es-mod .mr-10 {
  margin-right: 10px !important;
}
body div.es-mod.mr-15,
body div.es-mod .mr-15 {
  margin-right: 15px !important;
}
body div.es-mod.mr-20,
body div.es-mod .mr-20 {
  margin-right: 20px !important;
}
body div.es-mod.ml-0,
body div.es-mod .ml-0 {
  margin-left: 0px !important;
}
body div.es-mod.ml-5,
body div.es-mod .ml-5 {
  margin-left: 5px !important;
}
body div.es-mod.ml-10,
body div.es-mod .ml-10 {
  margin-left: 10px !important;
}
body div.es-mod.ml-15,
body div.es-mod .ml-15 {
  margin-left: 15px !important;
}
body div.es-mod.ml-20,
body div.es-mod .ml-20 {
  margin-left: 20px !important;
}
body div.es-mod.pv-5,
body div.es-mod .pv-5 {
  padding: 5px 0 !important;
}
body div.es-mod.pv-10,
body div.es-mod .pv-10 {
  padding: 10px 0 !important;
}
body div.es-mod.pv-15,
body div.es-mod .pv-15 {
  padding: 15px 0 !important;
}
body div.es-mod.ph-5,
body div.es-mod .ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
body div.es-mod.ph-10,
body div.es-mod .ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
body div.es-mod.ph-15,
body div.es-mod .ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
body div.es-mod.ph-20,
body div.es-mod .ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
body div.es-mod.pa-5,
body div.es-mod .pa-5 {
  padding: 5px !important;
}
body div.es-mod.pa-10,
body div.es-mod .pa-10 {
  padding: 10px !important;
}
body div.es-mod.pa-15,
body div.es-mod .pa-15 {
  padding: 15px !important;
}
body div.es-mod.pt-0,
body div.es-mod .pt-0 {
  padding-top: 0px !important;
}
body div.es-mod.pt-5,
body div.es-mod .pt-5 {
  padding-top: 5px !important;
}
body div.es-mod.pt-10,
body div.es-mod .pt-10 {
  padding-top: 10px !important;
}
body div.es-mod.pt-15,
body div.es-mod .pt-15 {
  padding-top: 15px !important;
}
body div.es-mod.pt-20,
body div.es-mod .pt-20 {
  padding-top: 20px !important;
}
body div.es-mod.pb-0,
body div.es-mod .pb-0 {
  padding-bottom: 0px !important;
}
body div.es-mod.pb-5,
body div.es-mod .pb-5 {
  padding-bottom: 5px !important;
}
body div.es-mod.pb-10,
body div.es-mod .pb-10 {
  padding-bottom: 10px !important;
}
body div.es-mod.pb-15,
body div.es-mod .pb-15 {
  padding-bottom: 15px !important;
}
body div.es-mod.pb-20,
body div.es-mod .pb-20 {
  padding-bottom: 20px !important;
}
body div.es-mod.pr-0,
body div.es-mod .pr-0 {
  padding-right: 0px !important;
}
body div.es-mod.pr-5,
body div.es-mod .pr-5 {
  padding-right: 5px !important;
}
body div.es-mod.pr-10,
body div.es-mod .pr-10 {
  padding-right: 10px !important;
}
body div.es-mod.pr-15,
body div.es-mod .pr-15 {
  padding-right: 15px !important;
}
body div.es-mod.pr-20,
body div.es-mod .pr-20 {
  padding-right: 20px !important;
}
body div.es-mod.pl-0,
body div.es-mod .pl-0 {
  padding-left: 0px !important;
}
body div.es-mod.pl-5,
body div.es-mod .pl-5 {
  padding-left: 5px !important;
}
body div.es-mod.pl-10,
body div.es-mod .pl-10 {
  padding-left: 10px !important;
}
body div.es-mod.pl-15,
body div.es-mod .pl-15 {
  padding-left: 15px !important;
}
body div.es-mod.pl-20,
body div.es-mod .pl-20 {
  padding-left: 20px !important;
}
body div.es-mod .half-width {
  width: 50% !important;
}
body div.es-mod .full-width {
  width: 100% !important;
}
body div.es-mod .center,
body div.es-mod .table td.center,
body div.es-mod .table th.center {
  text-align: center !important;
}
body div.es-mod .mod-hd,
body div.es-mod .mod-bd,
body div.es-mod .mod-ft {
  *zoom: 1;
}
body div.es-mod .mod-hd:before,
body div.es-mod .mod-hd:after,
body div.es-mod .mod-bd:before,
body div.es-mod .mod-bd:after,
body div.es-mod .mod-ft:before,
body div.es-mod .mod-ft:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod .mod-hd:after,
body div.es-mod .mod-bd:after,
body div.es-mod .mod-ft:after {
  clear: both;
}
body div.es-mod .mod-hd {
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
}
body div.es-mod .mod-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 8px;
}
body div.es-mod.mod-es-leaderboard .media,
body div.es-mod.mod-es-leaderboard .media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
body div.es-mod.mod-es-leaderboard .media,
body div.es-mod.mod-es-leaderboard .media .media {
  margin-top: 15px;
}
body div.es-mod.mod-es-leaderboard .media:first-child {
  margin-top: 0;
}
body div.es-mod.mod-es-leaderboard .media-object {
  display: block;
}
body div.es-mod.mod-es-leaderboard .media-heading {
  margin: 0 0 5px;
}
body div.es-mod.mod-es-leaderboard .media .pull-left {
  margin-right: 10px;
}
body div.es-mod.mod-es-leaderboard .media .pull-right {
  margin-left: 10px;
}
body div.es-mod.mod-es-leaderboard .media-list {
  margin-left: 0;
  list-style: none;
}
body div.es-mod.mod-es-leaderboard .es-item-grid {
  width: 100%;
  *zoom: 1;
}
body div.es-mod.mod-es-leaderboard .es-item-grid:before,
body div.es-mod.mod-es-leaderboard .es-item-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-item-grid:after {
  clear: both;
}
body div.es-mod.mod-es-leaderboard .es-item-grid > li {
  *zoom: 1;
  margin-bottom: 10px;
}
body div.es-mod.mod-es-leaderboard .es-item-grid > li:before,
body div.es-mod.mod-es-leaderboard .es-item-grid > li:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-item-grid > li:after {
  clear: both;
}
body div.es-mod.mod-es-leaderboard .es-item-list {
  display: block;
  list-style: none outside none;
}
body div.es-mod.mod-es-leaderboard .es-item-list > li {
  position: relative;
}
body div.es-mod.mod-es-leaderboard .es-item-grid {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  line-height: normal;
}
body div.es-mod.mod-es-leaderboard .es-item-grid > li {
  float: left;
  position: relative;
  margin-right: 1%;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_1col > li {
  float: none;
  width: 100%;
  margin-bottom: 10px;
  margin-right: 0;
  *zoom: 1;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_1col > li:before,
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_1col > li:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_1col > li:after {
  clear: both;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_2col > li {
  width: 49%;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_2col > li:nth-child(2n+1) {
  clear: left;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_3col > li {
  width: 32.333%;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_3col > li:nth-child(3n+1) {
  clear: left;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_4col > li {
  width: 23.777%;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_4col > li:nth-child(4n+1) {
  clear: left;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_5col > li {
  width: 18.888%;
}
body div.es-mod.mod-es-leaderboard .es-item-grid.es-item-grid_5col > li:nth-child(5n+1) {
  clear: left;
}
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_2col > li,
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_3col > li,
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_4col > li,
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_5col > li {
  width: 100%;
}
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_2col > li:nth-child(2n+1),
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_3col > li:nth-child(2n+1),
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_4col > li:nth-child(2n+1),
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_5col > li:nth-child(2n+1) {
  clear: none;
}
body div.es-mod.mod-es-leaderboard.w480 .es-item-grid.es-item-grid_3col > li:nth-child(3n+1) {
  clear: none;
}
body div.es-mod.mod-es-leaderboard .es-item {
  *zoom: 1;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
}
body div.es-mod.mod-es-leaderboard .es-item:before,
body div.es-mod.mod-es-leaderboard .es-item:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-item:after {
  clear: both;
}
body div.es-mod.mod-es-leaderboard .es-item .es-item-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body div.es-mod.mod-es-leaderboard .es-item .es-item-body {
  *zoom: 1;
  margin-left: 50px;
}
body div.es-mod.mod-es-leaderboard .es-item .es-item-body:before,
body div.es-mod.mod-es-leaderboard .es-item .es-item-body:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-item .es-item-body:after {
  clear: both;
}
body div.es-mod.mod-es-leaderboard .es-item.es-item-borderless {
  border: none;
}
body div.es-mod.mod-es-leaderboard .es-avatar-list {
  margin: 0;
  padding: 0;
  *zoom: 1;
}
body div.es-mod.mod-es-leaderboard .es-avatar-list:before,
body div.es-mod.mod-es-leaderboard .es-avatar-list:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-avatar-list:after {
  clear: both;
}
body div.es-mod.mod-es-leaderboard .es-avatar-list > li {
  margin-top: 10px;
  display: inline-block;
}
body div.es-mod.mod-es-leaderboard .es-avatar-list > li .es-avatar img {
  background: #f5f5f5;
}
body div.es-mod.mod-es-leaderboard .es-avatar-list > li.active .es-avatar {
  border: 2px solid #5b93ce;
}
body div.es-mod.mod-es-leaderboard .es-avatar-list > li.active .es-avatar img {
  border: 2px solid white;
}
body div.es-mod.mod-es-leaderboard .es-cover-list {
  *zoom: 1;
}
body div.es-mod.mod-es-leaderboard .es-cover-list:before,
body div.es-mod.mod-es-leaderboard .es-cover-list:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-cover-list:after {
  clear: both;
}
body div.es-mod.mod-es-leaderboard .es-cover-list > li {
  margin-top: 10px;
  display: inline-block;
}
body div.es-mod.mod-es-leaderboard .es-cover-list > li .es-cover {
  border: 2px solid #d7d7d7;
}
body div.es-mod.mod-es-leaderboard .es-cover-list > li .es-cover img {
  border: 2px solid white;
}
body div.es-mod.mod-es-leaderboard .es-cover-list > li.active .es-cover {
  border: 2px solid #5b93ce;
}
body div.es-mod.mod-es-leaderboard .es-cover-list > li.active .es-cover img {
  border: 2px solid white;
}
body div.es-mod.mod-es-leaderboard .leader-info .username {
  display: block !important;
  font-size: 13px !important;
  padding-right: 10px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
body div.es-mod.mod-es-leaderboard .leader-info .points {
  display: block !important;
  color: #888 !important;
}
body div.es-mod.mod-es-leaderboard .leader-rank {
  display: inline-block !important;
  float: right !important;
  background: #ccc !important;
  color: #fff !important;
  font-size: 18px !important;
  text-align: center !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  width: 32px;
  height: 32px;
  line-height: 32px !important;
}
body div.es-mod.mod-es-leaderboard .media .media-object {
  display: block !important;
  background: #fff !important;
  width: 32px !important;
  height: 32px !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body div.es-mod.mod-es-leaderboard .es-item-list {
  margin: 0 0 10px !important;
  list-style: none;
}
body div.es-mod.mod-es-leaderboard .es-item-list > li {
  margin-bottom: 10px !important;
  padding: 10px 0 15px !important;
  border-bottom: 1px solid rgba(0,0,0,0.05) !important;
  *zoom: 1;
}
body div.es-mod.mod-es-leaderboard .es-item-list > li:before,
body div.es-mod.mod-es-leaderboard .es-item-list > li:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-leaderboard .es-item-list > li:after {
  clear: both;
}