.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 26px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
body div.es-mod {
  display: inline-block;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
}
body div.es-mod {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body div.es-mod * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body div.es-mod ul,
body div.es-mod ol,
body div.es-mod li {
  margin: 0;
  padding: 0;
}
body div.es-mod ul:before,
body div.es-mod ul:after,
body div.es-mod ol:before,
body div.es-mod ol:after,
body div.es-mod li:before,
body div.es-mod li:after {
  background: none;
  display: none;
}
body div.es-mod tr,
body div.es-mod td {
  border: 1px solid transparent;
}
body div.es-mod a {
  background: transparent;
}
body div.es-mod a:link {
  text-decoration: none;
}
body div.es-mod a:hover {
  color: #005580;
}
body div.es-mod a:hover,
body div.es-mod a:focus,
body div.es-mod a:active {
  color: #08c;
  background-color: transparent;
}
body div.es-mod ol,
body div.es-mod ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body div.es-mod.mv-5,
body div.es-mod .mv-5 {
  margin: 5px 0 !important;
}
body div.es-mod.mv-10,
body div.es-mod .mv-10 {
  margin: 10px 0 !important;
}
body div.es-mod.mv-15,
body div.es-mod .mv-15 {
  margin: 15px 0 !important;
}
body div.es-mod.mt-0,
body div.es-mod .mt-0 {
  margin-top: 0px !important;
}
body div.es-mod.mt-5,
body div.es-mod .mt-5 {
  margin-top: 5px !important;
}
body div.es-mod.mt-10,
body div.es-mod .mt-10 {
  margin-top: 10px !important;
}
body div.es-mod.mt-15,
body div.es-mod .mt-15 {
  margin-top: 15px !important;
}
body div.es-mod.mt-20,
body div.es-mod .mt-20 {
  margin-top: 20px !important;
}
body div.es-mod.mb-0,
body div.es-mod .mb-0 {
  margin-bottom: 0px !important;
}
body div.es-mod.mb-5,
body div.es-mod .mb-5 {
  margin-bottom: 5px !important;
}
body div.es-mod.mb-10,
body div.es-mod .mb-10 {
  margin-bottom: 10px !important;
}
body div.es-mod.mb-15,
body div.es-mod .mb-15 {
  margin-bottom: 15px !important;
}
body div.es-mod.mb-20,
body div.es-mod .mb-20 {
  margin-bottom: 20px !important;
}
body div.es-mod.mr-0,
body div.es-mod .mr-0 {
  margin-right: 0px !important;
}
body div.es-mod.mr-5,
body div.es-mod .mr-5 {
  margin-right: 5px !important;
}
body div.es-mod.mr-10,
body div.es-mod .mr-10 {
  margin-right: 10px !important;
}
body div.es-mod.mr-15,
body div.es-mod .mr-15 {
  margin-right: 15px !important;
}
body div.es-mod.mr-20,
body div.es-mod .mr-20 {
  margin-right: 20px !important;
}
body div.es-mod.ml-0,
body div.es-mod .ml-0 {
  margin-left: 0px !important;
}
body div.es-mod.ml-5,
body div.es-mod .ml-5 {
  margin-left: 5px !important;
}
body div.es-mod.ml-10,
body div.es-mod .ml-10 {
  margin-left: 10px !important;
}
body div.es-mod.ml-15,
body div.es-mod .ml-15 {
  margin-left: 15px !important;
}
body div.es-mod.ml-20,
body div.es-mod .ml-20 {
  margin-left: 20px !important;
}
body div.es-mod.pv-5,
body div.es-mod .pv-5 {
  padding: 5px 0 !important;
}
body div.es-mod.pv-10,
body div.es-mod .pv-10 {
  padding: 10px 0 !important;
}
body div.es-mod.pv-15,
body div.es-mod .pv-15 {
  padding: 15px 0 !important;
}
body div.es-mod.ph-5,
body div.es-mod .ph-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
body div.es-mod.ph-10,
body div.es-mod .ph-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
body div.es-mod.ph-15,
body div.es-mod .ph-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
body div.es-mod.ph-20,
body div.es-mod .ph-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
body div.es-mod.pa-5,
body div.es-mod .pa-5 {
  padding: 5px !important;
}
body div.es-mod.pa-10,
body div.es-mod .pa-10 {
  padding: 10px !important;
}
body div.es-mod.pa-15,
body div.es-mod .pa-15 {
  padding: 15px !important;
}
body div.es-mod.pt-0,
body div.es-mod .pt-0 {
  padding-top: 0px !important;
}
body div.es-mod.pt-5,
body div.es-mod .pt-5 {
  padding-top: 5px !important;
}
body div.es-mod.pt-10,
body div.es-mod .pt-10 {
  padding-top: 10px !important;
}
body div.es-mod.pt-15,
body div.es-mod .pt-15 {
  padding-top: 15px !important;
}
body div.es-mod.pt-20,
body div.es-mod .pt-20 {
  padding-top: 20px !important;
}
body div.es-mod.pb-0,
body div.es-mod .pb-0 {
  padding-bottom: 0px !important;
}
body div.es-mod.pb-5,
body div.es-mod .pb-5 {
  padding-bottom: 5px !important;
}
body div.es-mod.pb-10,
body div.es-mod .pb-10 {
  padding-bottom: 10px !important;
}
body div.es-mod.pb-15,
body div.es-mod .pb-15 {
  padding-bottom: 15px !important;
}
body div.es-mod.pb-20,
body div.es-mod .pb-20 {
  padding-bottom: 20px !important;
}
body div.es-mod.pr-0,
body div.es-mod .pr-0 {
  padding-right: 0px !important;
}
body div.es-mod.pr-5,
body div.es-mod .pr-5 {
  padding-right: 5px !important;
}
body div.es-mod.pr-10,
body div.es-mod .pr-10 {
  padding-right: 10px !important;
}
body div.es-mod.pr-15,
body div.es-mod .pr-15 {
  padding-right: 15px !important;
}
body div.es-mod.pr-20,
body div.es-mod .pr-20 {
  padding-right: 20px !important;
}
body div.es-mod.pl-0,
body div.es-mod .pl-0 {
  padding-left: 0px !important;
}
body div.es-mod.pl-5,
body div.es-mod .pl-5 {
  padding-left: 5px !important;
}
body div.es-mod.pl-10,
body div.es-mod .pl-10 {
  padding-left: 10px !important;
}
body div.es-mod.pl-15,
body div.es-mod .pl-15 {
  padding-left: 15px !important;
}
body div.es-mod.pl-20,
body div.es-mod .pl-20 {
  padding-left: 20px !important;
}
body div.es-mod .half-width {
  width: 50% !important;
}
body div.es-mod .full-width {
  width: 100% !important;
}
body div.es-mod .center,
body div.es-mod .table td.center,
body div.es-mod .table th.center {
  text-align: center !important;
}
body div.es-mod .mod-hd,
body div.es-mod .mod-bd,
body div.es-mod .mod-ft {
  *zoom: 1;
}
body div.es-mod .mod-hd:before,
body div.es-mod .mod-hd:after,
body div.es-mod .mod-bd:before,
body div.es-mod .mod-bd:after,
body div.es-mod .mod-ft:before,
body div.es-mod .mod-ft:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod .mod-hd:after,
body div.es-mod .mod-bd:after,
body div.es-mod .mod-ft:after {
  clear: both;
}
body div.es-mod .mod-hd {
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 10px;
}
body div.es-mod .mod-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 8px;
}
body div.es-mod.mod-es-users .es-widget,
body div.es-mod.mod-es-users .es-widget-head,
body div.es-mod.mod-es-users .es-widget-body,
body div.es-mod.mod-es-users .es-widget-foot {
  *zoom: 1;
}
body div.es-mod.mod-es-users .es-widget:before,
body div.es-mod.mod-es-users .es-widget:after,
body div.es-mod.mod-es-users .es-widget-head:before,
body div.es-mod.mod-es-users .es-widget-head:after,
body div.es-mod.mod-es-users .es-widget-body:before,
body div.es-mod.mod-es-users .es-widget-body:after,
body div.es-mod.mod-es-users .es-widget-foot:before,
body div.es-mod.mod-es-users .es-widget-foot:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-users .es-widget:after,
body div.es-mod.mod-es-users .es-widget-head:after,
body div.es-mod.mod-es-users .es-widget-body:after,
body div.es-mod.mod-es-users .es-widget-foot:after {
  clear: both;
}
body div.es-mod.mod-es-users .es-widget .es-widget-head {
  position: relative;
  padding: 8px;
  padding-right: 6px;
  border-bottom: 1px solid #d7d7d7;
  font-weight: bold;
  margin-bottom: 6px;
}
body div.es-mod.mod-es-users .es-widget .es-widget-head .widget-label {
  background: none;
  color: #999;
  font-weight: normal;
  font-size: 11px;
  margin-left: 3px;
}
body div.es-mod.mod-es-users .es-widget .es-widget-body {
  position: relative;
  padding: 6px;
  padding-right: 0;
}
body div.es-mod.mod-es-users .es-widget .es-widget-foot {
  position: relative;
  padding: 8px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 11px;
}
body div.es-mod.mod-es-users .es-widget .es-widget-foot a {
  text-decoration: none;
}
body div.es-mod.mod-es-users .es-widget + .es-widget {
  margin-top: 20px;
}
body div.es-mod.mod-es-users .es-widget.es-widget-borderless {
  border: none;
}
body div.es-mod.mod-es-users .es-widget.es-widget-borderless .es-widget-head + .es-widget-head {
  margin-top: 12px;
}
body div.es-mod.mod-es-users .es-widget.es-widget-border {
  border: 1px solid #d7d7d7;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li {
  position: relative;
  margin-bottom: 1px;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li > a {
  font-size: 11px;
  padding: 4px 0 4px 4px;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li > a:hover {
  cursor: pointer;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li > a:focus {
  outline: none;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li.active {
  font-weight: bold;
  background: #f9f9f9;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li.active > a {
  background: #f9f9f9;
  line-height: 16px;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li.active:before,
body div.es-mod.mod-es-users .es-widget .es-nav > li.active:after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
  display: inline-block;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li.error {
  background: #ffb2bc;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li.error > a {
  background: #ffb2bc;
  color: #fff;
  border-left: 2px solid #E27A93;
}
body div.es-mod.mod-es-users .es-widget .es-nav > li.loading > a:before {
  position: absolute;
  top: 8px;
  right: 6px;
  content: '';
  display: block;
  width: 16px;
  height: 11px;
  background: url('../../../media/com_easysocial/styles/../images/loading.gif') no-repeat;
}
body div.es-mod.mod-es-users .es-widget .es-nav.es-nav-album > li > a {
  border-bottom: 1px solid #d7d7d7;
}
body div.es-mod.mod-es-users .es-widget .es-nav.es-nav-album .es-avatar {
  margin-top: 3px;
}
body div.es-mod.mod-es-users .es-widget .small {
  font-size: 11px;
  font-weight: normal;
}
body div.es-mod.mod-es-users .es-widget .widget-main-link {
  font-weight: bold;
}
body div.es-mod.mod-es-users .es-widget .widget-list,
body div.es-mod.mod-es-users .es-widget .widget-list-grid {
  margin-left: 0;
  list-style: none;
  *zoom: 1;
}
body div.es-mod.mod-es-users .es-widget .widget-list:before,
body div.es-mod.mod-es-users .es-widget .widget-list:after,
body div.es-mod.mod-es-users .es-widget .widget-list-grid:before,
body div.es-mod.mod-es-users .es-widget .widget-list-grid:after {
  display: table;
  content: "";
  line-height: 0;
}
body div.es-mod.mod-es-users .es-widget .widget-list:after,
body div.es-mod.mod-es-users .es-widget .widget-list-grid:after {
  clear: both;
}
body div.es-mod.mod-es-users .es-widget .widget-list .es-avatar,
body div.es-mod.mod-es-users .es-widget .widget-list-grid .es-avatar {
  margin: 0;
}
body div.es-mod.mod-es-users .es-widget .widget-list-grid > li {
  float: left;
  margin-bottom: 6px;
  margin-right: 11px;
}
body div.es-mod.mod-es-users .es-widget .widget-list > li {
  position: relative;
}
body div.es-mod.mod-es-users .es-widget .widget-list .es-count-no {
  position: absolute;
  right: 10px;
  top: 2px;
  padding: 0 4px;
}
body div.es-mod.mod-es-users .es-widget .widget-list .filter-item-default {
  color: #6AA8DC;
  position: relative;
  top: -1px;
  margin-right: 3px;
}
body div.es-mod.mod-es-users .es-widget .total-no {
  color: #999;
  margin-bottom: 10px;
}
body div.es-mod.mod-es-users .es-widget .widget-title {
  display: inline-block;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  font-size: 12px;
}
body div.es-mod.mod-es-users .es-widget-search .es-widget-body {
  background: #f5f5f5;
  padding: 8px 6px;
}
body div.es-mod.mod-es-users .es-widget-search .es-widget-body form {
  margin: 0;
  position: relative;
}
body div.es-mod.mod-es-users .es-widget-search .es-widget-body form input {
  padding-left: 26px;
}
body div.es-mod.mod-es-users .es-widget-search .es-widget-body form:before,
body div.es-mod.mod-es-users .es-widget-search .es-widget-body form:after {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  line-height: 16px;
}
body div.es-mod.mod-es-users .es-widget-search .es-widget-body form:before {
  top: 4px;
  left: 10px;
  content: "\e00a";
  font-family: 'easysocial';
}
body div.es-mod.mod-es-users.w480 .es-widget .es-widget-head {
  width: 100%;
}
body div.es-mod.mod-es-users.w480 .es-widget .es-nav > li.active:before,
body div.es-mod.mod-es-users.w480 .es-widget .es-nav > li.active:after {
  display: none;
}
body div.es-mod.mod-es-users .es-avatar {
  background: #fff !important;
  width: 42px;
  height: 42px;
  line-height: 42px !important;
  overflow: hidden !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
}
body div.es-mod.mod-es-users .widget-list-grid {
  padding-top: 5px;
}
body div.es-mod.mod-es-users .widget-list-grid > li {
  margin-bottom: 10px;
}
body div.es-mod.mod-es-users .widget-list-grid > li > a {
  display: inline-block;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}