.itemField {
  width: 1200px;
}

.itemField {
  z-index: 99;
}

.CodeMirror-hints-contextInfo,ul.CodeMirror-hints {
  z-index: 999 !important;
  width: 500px !important;
  li.CodeMirror-hint{
    max-width:none;
  }
}

.itemField {
  top: 70px;
 .CodeMirror {
    height: 600px;
  }

  .CodeMirror {

    .CodeMirror-hscrollbar {
      left: 0 !important;
    }
    border: 1px solid #ccc;
    .CodeMirror-gutters {
      width: 42px !important;
    }
    .CodeMirror-code
    {

    }
    .CodeMirror-gutter-wrapper
    {
      left: -40px !important;
    }
    .CodeMirror-scroll, .CodeMirror-sizer, .CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber {
      margin-left: 0 !important;
    }
    .CodeMirror-gutter
    {
      width: 15px !important;
    }
    .CodeMirror-linenumber.CodeMirror-gutter-elt
    {
      width: 15px !important;
      left: 0px !important;
      padding: 0 3px 0 0 !important;
    }
    .CodeMirror-gutter-elt
    {
      left: 27px !important;
    }
    .CodeMirror-sizer {
      padding-left: 42px !important;
    }
  }
}

