/*JoomBah Jobs Style*/ /*http://www.joombah.com*/

.latestcv td a.jbj_jobtitlemini {
	font-weight: 400;
}
a.jbj_bold {
	font-weight:bold;
}
.jbj_imglatestcv {
	border:1px solid gray;
	width:50px;
	height:50px;
	margin-right:10px;
}
div.jbj_newsfeed_item {
	display: block;
	margin: 0;
	padding: 5px 0 10px !important;
	position: relative;
	overflow: hidden;
	border-bottom: 1px dotted #CCC;
}
div.jbj_newsfeed_item .newsfeed_avatar {
	width: 40px;
	float: left;
}
div.jbj_newsfeed_item .newsfeed_favicon {
	width: 20px;
	position: absolute;
	right: 0;
	bottom: 3px;
}
div.jbj_newsfeed_item .newsfeed_content {
	margin: 0 0 0 45px;
}
div.jbj_newsfeed_item .newsfeed_content_top {
	margin: 0;
}
div.jbj_newsfeed_item .newsfeed_date {
	top: 5px;
	right: 0;
	left: auto;
	text-align: right;
}