
.nav-list > li > a, .nav-list .nav-header
{
    margin-left: 5px !important;
}
.icon-header
{
    font-size: 12px;
}
#content [class^="icon-"], [class*=" icon-"]
 {
     font-size: 25px;
     height: 25px ;
     width: 25px ;
     background: none ;
     line-height: 25px;
     padding: 0 10px;
     cursor: pointer;
 }
.big-icon
{
    border-radius: 5px;
}
.big-icon
{
    background: -webkit-linear-gradient(bottom, #f5f5f5, #ececec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #f5f5f5, #ececec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #f5f5f5, #ececec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #f5f5f5, #ececec); /* Standard syntax (must be last) */

}
#content .big-icon [class^="icon-"], [class*=" icon-"]
{
    font-size: 35px;
    width: 16px;
    line-height: 35px;
    color: #fff;
}
.icon-circle-arrow-right:before
{
    content: "\e00a";
    font-size: 25px;
}
.icon-lifebuoy:before
{
    content: "\46";
    line-height: 50px;
}
.big-icon
{
    position: relative;
}
i.more
{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.big-icon i.more
{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
}
.view-bookpro-tour
{
    padding: 0 10px;
    background: #fff;
}




.screen-dashboard
{
    color: #999999;
}
.toolbar2{
    .margin-dashboard{
        margin-top: 10px;
    }
    .icon-loop
    {
        color: #f68484;
    }
}
.toolbar2 .icon-menu-3:before,.toolbar2 .icon-edit:before,.toolbar2 .icon-question-sign:before
{
    color: #75b9e6 !important;
}
#content .big-icon
{
    i.more{
        background: none repeat scroll 0 0 #e65097;
        border-radius: 25px 25px 0;
        font-size: 22px;
        height: 26px;
        line-height: 27px;
        padding: 5px;
        width: 24px;
        &.icon-wrench{
            background: none repeat scroll 0 0 #75b9e6;
        }
        &.icon-downarrow{
            background: none repeat scroll 0 0 #f4b162;
        }
        &.icon-comments-2{
            background: none repeat scroll 0 0 #71d398;
        }
        &.icon-database{
            background: none repeat scroll 0 0 #af91e1;
        }
        &.icon-flag-2{
            background: none repeat scroll 0 0 #75b9e6;
        }
    }


}
.view-bookpro-tour {
    .i-icon-header {
        margin: 25px 0px 0 0;
    }
    .big-icon {
        .count-order {
            h2{
                color: #5188ac;
                font-size: 20px;
                line-height: 24px;
                padding: 7px 25px 0 25px;
                margin-bottom: 5px;

            }
            label{
                color: #5188ac;
                font-size: 14px;
                padding: 0 25px 5px 25px;
            }
        }

    }
    .bg-chart{
        background: #f5f6f7;
        margin-top: 20px;
        .bg-chart-margin{
            margin: 20px;
            .border-chart{
                border: #ccc solid 1px;
                margin-bottom: 20px;
                background: #fff;
                .panel-heading{
                    margin: 15px 10px;
                    h4{
                        color: #2674a1;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                }
                .panel-body{
                    margin: 15px 10px;
                }
            }
        }
    }
    .bg-chart-2{
        margin-top: 20px;
        .bg-chart-margin{
            margin: 0 20px 20px 20px;
            .border-calendar {
                border: #ccc solid 1px;
                .panel-body {
                    margin: 15px 10px;
                }
            }
            .bg-chart-margin-border{
                margin-bottom: 20px;
            }
        }
    }
    .bg-Latest-booking{
        margin: 20px;
    }
    .bg-list-messages{
        margin: 20px;
    }
}
