.view-bookpro-mainmenu-default {

  #tab_group_menu_bookproContent {
    .tab-pane{
      min-height: 82px;
    }
    .pull-left{
      width: 150px;
      height: 77px;
      background-image:
      linear-gradient(transparent, transparent),
      linear-gradient(#f6f7f8, #b8bdc2);
      -moz-background-size:1px 100%;
      background-size:1px 100%;
      background-position:0 0, 100% 0;
      background-repeat:no-repeat;
    }
    .pull-left li a i{
      height: 23px !important;
      margin-right: 15px;
    }
    .pull-left li a{
      color: #666666;
      &:hover{
        color: #007799;
        text-decoration: none;
      }
    }
  }
  background: #fff;
  #tab_group_menu_bookproTabs
  {
    margin: 0px;
  }
  #tab_group_menu_bookproContent ul li
  {
    list-style: none;
    line-height:20px;
  }
  #tab_group_menu_bookproContent [class^="icon-"],#tab_group_menu_bookproContent [class*=" icon-"]
  {
    font-size: 12px;
    width: 12px !important;
    line-height: 12px;
  }
  .tabbable_main_menu .tab-pane
  {
    min-height: 100px;
    background: -webkit-linear-gradient(bottom, #ffffff, #e9edf1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #ffffff, #e9edf1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, #ffffff, #e9edf1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ffffff, #e9edf1); /* Standard syntax (must be last) */
    padding: 5px;
    border-bottom:1px solid #8b9097 ;

  }
  .tabbable_main_menu .quick
  {
    color: #2674a1;
    font-size: 15px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 14px;
    word-wrap: break-word;
  }
  .search-tour
  {
    background: #fffafa;
    padding: 15px 25px;
    border:  1px solid #9c9c9c;

  }


}
