.col-md-3 label {
  color: #890E00;
  font-size: 25px;
  margin-bottom: 20px;
}
.view-countries-default {
  margin: 0 15px 15px 15px;
  input {
    opacity: 1 !important;
  }
  .table-infomation {
    .view-border-right{
      border-right: 1px #ccc solid;
      border-top: none;
      input{
        margin-bottom: 0;
      }
    }
    .icon-action{
      margin-left: 30px;
    }
  }
  table {
    border: 1px solid #CBCBCB;
    border-top: none;
    label, th {
      color: #2573a1;

      font-weight: bold;
    }

    td {
      .modal {
        background-clip: padding-box;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 0px;
        box-shadow: none;
        left: auto;
        margin-left: 0px;
        outline: medium none;
        position: relative;
        top: auto;
        width: auto;
        z-index: auto;
      }
      #jform_path{
        border-radius: 0;
        margin-right: 0;
       // height: 32px;
      }
    }
  }
  #filter-bar {
    background: #f0f0f0 !important;

    border: 1px solid #DDDDDD;

    padding-top: 10px !important;
    .filter-search {
      .pull-left {
        margin-left: 30px !important;
        padding-bottom: 20px;
        padding-top: 10px;
        p {
          margin: 0 !important;
        }

        select, input {
          height: 30px;
        }
        #select-tour-name {
          width: 200px;
        }
        #select-tour-style, #select-tour-type {
          width: 200px;
        }
      }

      .search {
        margin-left: 65px;
        padding: 14px 15px !important;
        font-size: 16px;
        background: #007799;
        color: #ffffff;
        font-weight: bold;
        float: left;
      }
      label {

        color: #666666;
        font-weight: normal !important;
      }
      .pull-left {
        margin-left: 20px;
      }
    }
  }



  //pagination

  .pagination-limitbox {

    border: 1px solid #DDDDDD;
    .pagination {
      margin: 0px;
      padding: 0px;
      margin-bottom: -10px;

    }

    background: #F4F4F4;
    ul.pagination-list {
      list-style: none;
      padding-left: 0px;

    }

    .pagination-toolbar {

    }

    li.hidden-phone {

      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
      margin-left: 7px;

      border: 1px solid;
      color: #F4F4F4;
      border-radius: 2em;

    }
    li.hidden-phone:hover {
      color: #B4B4B4;
      cursor: pointer;
    }
    li.active {
      background: #D8D8D8;
    }
    li {

      float: left;

      a {
        font-size: 14px;
        color: #444472;
        text-decoration: none;
      }
      a.hasTooltip {
        float: left;
        border: 1px solid #B4B4B4;
        height: 2em;
        width: 2em;
        margin-left: 5px;
        border-radius: 2em;

        i.icon-next {
          height: 16px;
          width: 16px;
          float: left;
          background: url("../images/sprite.png");
          background-position: 0 -12px;
          margin-left: 7px;
          margin-top: 1px;
        }
        i.icon-last {
          height: 16px;
          width: 16px;
          float: left;
          background: url("../images/sprite.png");
          background-position: 0 -76px;
          margin-left: 6px;
          margin-top: 2px;
        }
        i.icon-previous {
          height: 16px;
          width: 16px;
          float: left;
          background: url("../images/sprite.png");
          background-position: 0 -48px;
          margin-left: 4px;
          margin-top: 5px;
        }
        i.icon-first {
          height: 16px;
          width: 16px;
          float: left;
          background: url("../images/sprite.png");
          background-position: 0 -112px;
          margin-left: 4px;
          margin-top: 5px;
        }
      }
    }

    #limit {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 10px;
      height: 25px;
    }
  }

}