.lang-icon
{
    padding: 10px 5px 10px 55px;
    border: none;
}
.es-language.lang-icon {
    background: url("../../../../../../media/system/fonts/sprite.svg?710915b#flag-es") no-repeat scroll 0 -3px / 50px 50px rgba(0, 0, 0, 0);
    content: "../../../../../../media/system/fonts/sprite.svg?710915b#flag-es";
}
.languageswitcherload .popover
{
    pointer-events:auto;
    width: 900px;
    max-width: none;
    left: auto !important;
    right: 0;
}
.languageswitcherload .popover-content
{
    padding: 10px 0px;
}
.es-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-es') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-es';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.en-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-en') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-en';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.de-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-de') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-de';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.pl-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-pl') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-pl';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.it-language .lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-it') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-it';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.tr-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-tr') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-tr';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.fr-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-fr') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-fr';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.br-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-br') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-br';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}

.ru-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-ru') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-ru';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}
.vn-language.lang-icon {
    background: url('../../../../../../media/system/fonts/sprite.svg?710915b#flag-vn') no-repeat 0 -3px;
    content: '../../../../../../media/system/fonts/sprite.svg?710915b#flag-vn';
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px
}
.btn-change-language
{
    background-color:#7cbb52 !important;
    background-size: 25px 25px !important;
    background-position: 0 8px !important;
    border: 0px solid #efefef;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset;
    margin: 0;
    min-width: 0;
    padding: 10px 12px 10px 27px;
    top: 1px;
    color: #fff;
    transition: background-color 0.1s ease-in 0s;
    border-radius: 0px;
}
.btn-change-language:hover
{
    color: #fff;
}
.widget-change-language-loading
{

}
.gtranslate .popover
{
    left: auto;
    right: 0;

}