.carousel-tile .tile {
	margin-bottom: 0px !important;
}
.carousel-tile .title-bottom-item {
	background: #dedcdc;
	margin-bottom: 20px;
	text-align: center;
}
.carousel-tile .title-bottom-item label {
	font-weight: bold;
	font-size: 15px;
	color: #666666;
	margin-top: 3px;
	margin-bottom: 3px !important;
}
.carousel-tile .enquiry {
	background: #AE91E1;
	border-radius: 0 !important;
	color: white;
}
.carousel-tile .booking {
	background: #96D3C4;
	border-radius: 0 !important;
	color: white;
}
.carousel-tile .helpdesk {
	background: #42C0FB;
	border-radius: 0 !important;
	color: white;
}
.carousel-tile .gallery {
	background: #71D398;
	border-radius: 0 !important;
	color: white;
}
.carousel-tile .article {
	background: #75B9E6;
	border-radius: 0 !important;
	color: white;
}
.carousel-tile .review {
	background: #75B9E6;
	border-radius: 0 !important;
	color: white;
}
#spr_0,
#spr_1 {
	border: 1px solid #98D1BE;
	margin-top: 20px;
}
.panel .panel-controls.panel-controls-hide {
	display: block !important;
}
.panel-heading {
	background: #98D1BE;
}
.panel-heading .panel-title {
	color: #ffffff;
}
.teal-bg {
	background: #98D1BE;
}
.panel-footer {
	background: #96D3C4 !important;
	overflow: auto;
}
