<?php
/**
* @package		EasySocial
* @copyright	Copyright (C) 2010 - 2012 Stack Ideas Sdn Bhd. All rights reserved.
* @license		GNU/GPL, see LICENSE.php
* EasySocial is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/
defined( '_JEXEC' ) or die( 'Unauthorized Access' );
?>
<div class="es-story-link-item [% if (info.images.length > 0) { %]has-images[% } %]" data-story-link-item>
	<div class="es-story-link-images" data-story-link-images>
		[% $.each(info.images, function(i, image){ %]
			<img class="es-story-link-image [% if (i==0) { %]active[% } %]" data-story-link-image src="[%== image %]"/>
		[% }); %]

	</div>
	<h6 class="es-story-link-title" data-story-link-title>[%= info.title %]</h6>
	<p class="es-story-link-description" data-story-link-description>[%= info.description %]</p>

	[% if( info.images.length > 1 ){ %]
	<div class="row-fluid">
		<div class="es-story-attachment-nav-buttons">
			<button type="button" class="btn" data-story-link-image-prev><i class="ies-arrow-left"></i></button>
			<button type="button" class="btn" data-story-link-image-next><i class="ies-arrow-right"></i></button>

			<span class="ml-10" data-story-link-image-index>1</span> <span>/</span> <span data-story-link-image-total>[%= info.images.length %]</span> 
			<span><?php echo JText::_( 'Thumbnails' ); ?></span>
		</div>
	</div>

	<div class="small mt-10">
		<label for="remove-thumbnail" class="small">
			<input type="checkbox" class="mr-5" id="remove-thumbnail" data-story-link-remove-image /> <?php echo JText::_( "Don't use thumbnail." );?>
		</label>
	</div>
	[% } %]
</div>
