<div class="editorViewport">
	<div class="editorPanel"></div>
	<div class="editorPreview">
		<div class="previewContainer"></div>

		<div class="previewDialogGroup">
			<div class="previewDialog dialog-loading"></div>
		</div>
	</div>
</div>
