<?php
/**
* @package		EasyBlog
* @copyright	Copyright (C) 2010 Stack Ideas Private Limited. All rights reserved.
* @license		GNU/GPL, see LICENSE.php
* EasyBlog is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/

// Check to ensure this file is included in Joomla!
defined('_JEXEC') or die( 'Restricted access' );
?>

<div class="panelSection infoPanel active">
	<div class="panelSectionContent">
		<div class="itemInfo">
			<i></i>
			<span class="itemFilename">[%= meta.title %]</span>
			<span class="itemFilesize">[%= meta.filesize %]</span>
			<span class="itemCreationDate">[%= meta.creationDate %]</span>
		</div>

		<div class="itemExtraInfo">
			<span class="itemUrl">[%= meta.url %]</span>
		</div>
	</div>
</div>

<div class="panelSection insertOptionsPanel active">
	<div class="panelSectionHeader">
		<div class="panelSectionTitle"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_INSERT_OPTIONS' );?></div>
	</div>

	<div class="panelSectionContent">
		<ul class="reset-ul list-form">
			<li>
				<label><?php echo JText::_( 'COM_EASYBLOG_MM_LINK_TO' );?>:</label>
				<select name="insertAs" class="insertAs">
					<option value="_blank"><?php echo JText::_( 'COM_EASYBLOG_MM_A_NEW_PAGE' );?></option>
					<option value="_self"><?php echo JText::_( 'COM_EASYBLOG_MM_THE_SAME_PAGE' );?></option>
				</select>
			</li>
			<li>
				<label><?php echo JText::_( 'COM_EASYBLOG_MM_CAPTION' );?>:</label>
				<textarea style="width:250px;height:80px" class="insertCaption">[%= meta.title %]</textarea>
			</li>
		</ul>
	</div>
</div>
