<div class="recentItem loading">
	<div class="item-wrap">
		<i></i>
		<div class="item-image">
			<div class="item-image-wrap">
				<img class="itemIcon" src="[%= meta.icon.url %]" />
			</div>
		</div>
		<div class="itemTitle">
			<span>[%= meta.title %]</span>
			<span class="itemProgress"><?php echo JText::_( 'COM_EASYBLOG_MM_INSERTING_ITEM' ); ?></span>
		</div>
	</div>
</div>
