<?php
/**
* @package		EasyBlog
* @copyright	Copyright (C) 2010 Stack Ideas Private Limited. All rights reserved.
* @license		GNU/GPL, see LICENSE.php
* EasyBlog is free software. This version may have been modified pursuant
* to the GNU General Public License, and as distributed it includes or
* is derivative of works licensed under the GNU General Public License or
* other free or open source software licenses.
* See COPYRIGHT.php for copyright notices and details.
*/

// Check to ensure this file is included in Joomla!
defined('_JEXEC') or die( 'Restricted access' );
?>

<div class="panelSection infoPanel active">
	<div class="panelSectionContent">

		<div class="itemInfo">
			<i></i>
			<span class="itemFilename">[%= meta.title %]</span>
			<span class="itemFilesize">[%= meta.filesize %]</span>
			<span class="itemCreationDate">[%= meta.creationDate %]</span>
		</div>

		<div class="itemExtraInfo">
			<span class="itemUrl">[%= meta.url %]</span>
		</div>
	</div>
</div>

<div class="panelSection imageVariationPanel active">
	<div class="panelSectionHeader">
		<div class="panelSectionTitle"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_AVAILABLE_SIZES' ); ?></div>
	</div>

	[% var readOnly = (!acl.canCreateVariation && !acl.canDeleteVariation); %]

	<div class="panelSectionContent">
		<div class="imageVariationList [%= (readOnly) ? "readOnly" : "" %]">
			<div class="imageVariations">
			</div>

			[% if (!readOnly) { %]
			<div class="imageVariationActions">

				[% if (acl.canDeleteVariation) { %]
				<button type="button" class="removeVariationButton"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_REMOVE' );?></button>
				[% } %]

				[% if (acl.canCreateVariation) { %]
				<button type="button" class="addVariationButton"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_NEW_SIZE' );?></button>
				[% } %]
			</div>
			[% } %]
		</div>
	</div>
</div>

<div class="panelSection insertOptionsPanel active">
	<div class="panelSectionHeader">
		<div class="panelSectionTitle"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_APPEARANCE' ); ?></div>
	</div>

	<div class="panelSectionContent">
		<ul class="reset-ul list-form">
			<li class="field hide-field-content">
				<input type="checkbox" class="imageCaptionOption" name="imageCaptionOption" />
				<label><?php echo JText::_( 'COM_EASYBLOG_MM_ADD_IMAGE_CAPTION' ); ?></label>
				<div class="field-content">
					<input type="text" class="imageCaption" name="imageCaption" value="[%= meta.title %]" />
				</div>
			</li>
			<li class="field [%= (enableLightbox) ? "" : "hide-field-content" %]">
				<input type="checkbox" class="imageZoomOption" name="imageZoomOption" [%= (enableLightbox) ? "checked" : "" %] />
				<label><?php echo JText::_( 'COM_EASYBLOG_MM_ENABLE_IMAGE_ZOOMING' );?></label>
				<div class="field-content">
					<?php echo JText::_( 'COM_EASYBLOG_MM_USE_LARGE_IMAGE' );?>:
					<select class="imageZoomLargeImageSelection"></select>
				</div>
			</li>
			<li class="field hide-field-content">
				<input type="checkbox" class="imageEnforceDimensionOption" name="imageEnforceDimension" [%= (enforceImageDimension) ? "checked" : "" %]/>
				<label><?php echo JText::_( 'COM_EASYBLOG_MM_ENFORCE_IMAGE_DIMENSION' );?></label>
				<div class="field-content imageEnforceDimension">
					<label style="width: 70px; text-align: right; padding: 0 5px; display: inline-block; line-height: 25px;"><?php echo JText::_( 'COM_EASYBLOG_MM_WIDTH' );?></label><input style="width: 80px; height: 15px;" type="text" class="imageEnforceWidth" name="imageEnforceWidth" value="[%= enforceImageWidth %]" initial="[%= enforceImageWidth %]" />
					<br/>
					<label style="width: 70px; text-align: right; padding: 0 5px; display: inline-block; line-height: 25px;"><?php echo JText::_( 'COM_EASYBLOG_MM_HEIGHT' );?></label><input style="width: 80px; height: 15px;" type="text" class="imageEnforceHeight" name="imageEnforceHeight" value="[%= enforceImageHeight %]" initial="[%= enforceImageHeight %]" />
					<div class="imageEnforceRatio locked"></div>
					<input class="imageEnforceLockRatio" type="checkbox" checked="checked" />
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="modalPrompt">
	<div class="modalPromptDialogs">
		<div class="modalPromptDialog createNewImageVariationPrompt">
			<div class="promptState state-default">
				<div class="promptTitle"><?php echo JText::_( 'COM_EASYBLOG_MM_CREATE_NEW_IMAGE_VARIATION' ); ?></div>
				<span class="promptText"><?php echo JText::_( 'COM_EASYBLOG_MM_CREATE_NEW_IMAGE_VARIATION_DESC' ); ?></span>
				<div class="promptForm imageVariationForm">
					<div class="formGroup">
						<label class="formLabel"><?php echo JText::_( 'COM_EASYBLOG_MM_NAME' );?></label>
						<div class="formControl"><input type="text" class="imageSizeInput newVariationName"></div>
					</div>
					<div class="formGroup">
						<label class="formLabel"><?php echo JText::_( 'COM_EASYBLOG_MM_WIDTH' );?></label>
						<div class="formControl"><input type="text" class="imageSizeInput newVariationWidth"></div>
					</div>
					<div class="formGroup">
						<label class="formLabel"><?php echo JText::_( 'COM_EASYBLOG_MM_HEIGHT' );?></label>
						<div class="formControl"><input type="text" class="imageSizeInput newVariationHeight"></div>
					</div>
					<div class="newVariationRatio locked"></div>
					<input class="newVariationLockRatio" type="checkbox" checked="checked" />
				</div>
				<div class="promptActions">
					<button class="button promptCancelButton cancelVariationButton"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_CANCEL_BUTTON' ); ?></button>
					<button class="button green-button createVariationButton"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_CREATE_BUTTON' ); ?></button>
				</div>
			</div>
			<div class="promptState state-progress">
				<div class="promptTitle"><?php echo JText::_( 'COM_EASYBLOG_MM_CREATING_VARIATION' ); ?></div>
				<span class="promptText"><?php echo JText::sprintf( 'COM_EASYBLOG_MM_WAIT_CREATING_VARIATION', '<span class="variationName">.</span> (<span class="variationWidth">.</span> x <span class="variationHeight">.</span>)' ); ?></span>
				<div class="promptLoader"></div>
			</div>
			<div class="promptState state-fail">
				<div class="promptTitle"><?php echo JText::_( 'COM_EASYBLOG_MM_FAIL_CREATING_VARIATION' ); ?></div>
				<span class="promptText"><?php echo JText::_( 'COM_EASYBLOG_MM_UNABLE_TO_CREATE_VARIATION' ); ?> <span class="variationName">.</span> (<span class="variationWidth">.</span> x <span class="variationHeight">.</span>)</span>
				<div class="promptActions">
					<button class="button promptCancelButton cancelVariationButton"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_CANCEL_BUTTON' ); ?></button>
					<button class="button green-button tryCreateVariationButton"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_TRY_AGAIN_BUTTON' ); ?></button>
				</div>
			</div>
		</div>
		<div class="overlay"></div>
	</div>
</div>
