<span class="navigationItem createFolder">
	<span class="createFolderForm">
		<input type="text" class="createFolderInput" />
		<button type="button" class="createFolderButton button"><?php echo JText::_('COM_EASYBLOG_CREATE_FOLDER');?></button>
		<button class="cancelCreateFolderButton"></button>
	</span>
	<span class="createFolderToggle"><i>+</i><?php echo JText::_('COM_EASYBLOG_MEDIA_CREATE_FOLDER');?></span>
</span>
