<div class="modalHeader">
	<div class="modalTitle">Customize</div>
	<div class="modalButtons">
		<button class="dashboardButton modalButton"><i></i></button>
	</div>
</div>

<div class="modalToolbar">
	<div class="navigation">
		<div class="navigationInfo"><?php echo JText::_( 'COM_EASYBLOG_MM_EDITOR_YOU_ARE_CUSTOMIZING_THIS_ITEM' ); ?>:</div>
		<div class="navigationPathway itemPath"></div>
	</div>
	<div class="topActions">
		<button class="insertItemButton button green-button"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_INSERT_BUTTON' ); ?></button>
		<button class="cancelEditingButton button"><i></i><?php echo JText::_( 'COM_EASYBLOG_MM_CANCEL_BUTTON' ); ?></button>
	</div>
</div>

<div class="modalContent">
	<div class="editorLoading"><div class="loadingHint"><i></i></div></div>
</div>
