<div class="browserItem">
	<div class="item-wrap">
	<div class="item-wrap-outer">
	<div class="item-wrap-inner">
		<i class="loading"></i>
		<img class="itemIcon" />
		<div class="itemTitle"><span>[%= meta.title %]</span></div>
	</div>
	</div>
	</div>
</div>
