.view-user-login
{
  .form-horizontal .left-input-icon, .form-inline .left-input-icon {
    left: 25px;
    position: absolute;
    top: 10px;
  }
  .form-horizontal .form-control.left-icon, .form-inline .form-control.left-icon {
    padding-left: 32px;
    position: relative;
  }
  .seperator {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    width: 100%;

  }
  .seperator strong {
    background: white none repeat scroll 0 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .seperator hr {
    margin-top: -10px;
  }
  #login .login-wrapper {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: auto;
    width: 100%;
    .login,.register
    {
      display: block !important;
    }
  }
  .nav-tabs > li a {
    background: #f3f5f6 none repeat scroll 0 0;
    border-color: #e7e7e2;
    border-radius: 0;
    color: #768399;
    margin-right: -1px;
  }
}