//@import "bootstrap/variables";
@baseFontSize: 						12px;

@linkColor: 			#5b91cd; //lightblue
@esBorder:			#b6c3cc; //lightgrey

@panelHeaderBackground: #eceff4; //lightblue

@titleColor: 			#626d7f;

@activeBackground: #f4feff; //lightblue
@pendingBackground: @activeBackground;


@alertBackground: #fffdf0; //lightyellow
@alertBorder: #e6e1b7;

//sidebar
@sideBackgroundHightlight: #e4eaf0;
@sideBackground: #d8dfe7;

@sideActiveBackgroundHightlight: #879bb3;
@sideActiveBackground: #6b7d93;

@sideSubBackground: #f0f3f8;


@baseLineHeight: 18px;
