.pn_calendar_list_container{
	margin: 0 auto;
	width:100%;
	background-color:#9cb8c8;
	overflow: hidden;
}
.pn_calendar_list {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;	
}
.pn_calendar_list li {
	float: left;
	margin: 0;
	padding: 0;
}
.pn_calendar_list a.hasrate{
	background: green;
}

.pn_calendar_list li div.pn_this_month,.pn_calendar_list li div.other_month,.pn_calendar_list a.cellday{
	color: #fff;
	font-size:1.1em;
	font-weight:normal;
	display: block;
	
	margin: 0;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	
	height:90px;
	padding-top:10px;
	padding-left:10px;
	border-right:#e5e4da 1px solid;
	border-bottom:#e5e4da 2px solid;
}

a.daynames {
	height:30px;
	color: #1a3867;
	font-weight: bold;
}
.pn_calendar_list div:hover,.pn_calendar_list a.daynames:hover {
	background-color: #c26c88;
	color: #fff;
}

.pn_this_month{
	background-color: #184a7d;
}
.pn_other_month{
	background-color: #d1d0c5;
}
.pn_active_day{
	background-color: #9d3d5c;
}

.pn_cal_cell_ev_counter{
	position: absolute;
	width: 40px;
	height: 36px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin: 1px 0 0 127px;
	display: block;
	text-align: center;
	font-size: 21px;
	color: orange;
	background: red;
	line-height: 35px;
}

.pn_cal_cell_ev_start_select_h, .pn_cal_cell_ev_start_select_m,
.pn_cal_cell_ev_finish_select_h, .pn_cal_cell_ev_finish_select_m{
	width: 70px !important;
}

#pn_calendar_info_popup {
	position: fixed;
	top: 48%;
	left: 52%;
	margin-left: -150px;
	width: 300px;
	display: none;
	overflow: hidden;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.6);
	-webkit-box-shadow: 
		inset 0 0 0 1px rgba(0,0,0,.6), 
		inset 0 0 0 2px rgba(255,255,255,.2);
	-moz-box-shadow: 
		inset 0 0 0 1px rgba(0,0,0,.6), 
		inset 0 0 0 2px rgba(255,255,255,.2);
	box-shadow: 
		inset 0 0 0 1px rgba(0,0,0,.6), 
		inset 0 0 0 2px rgba(255,255,255,.2);
	color: #fff;
	font-size: 16px;
	font-family: 'Tahoma',sans-serif;
	z-index: 999999;	
}

.pn_calendar_popup_err{
	display: none;
	color:white;
	background-color: red;
	border:solid 1px yellow;
	padding: 5px;
}