body{background-color:#FFFFFF} 
h1 { color:#404848; text-align:left;font-size:16px; } 
h2 { color:#EAF2EC !important; font-weight:bold;font-size:14px; } 
h3 { font-size: 14px;font-weight: bold;color:#646666 !important; } 
.acymailing_unsub {color: #000000;font-weight: bold;} 
.acymailing_online {color: #000000;font-weight: bold;} 
a img{ border:0px; text-decoration:none;} 


.es {
	font-size: 12px;
	color: #CC6600;
}
body {
	
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}


