body{background-color:#AFB0A2} 
h1 { font-size:16px; } 
h2 { font-size: 14px;font-weight: bold;color: #A87A00 !important; } 
h3 { font-size:12px; font-weight:bold;text-align:left;color:#333333 !important; } 
a { color: #A87A00; } 
.acymailing_unsub {color: #FFF5DD;font-weight: bold;} 
.acymailing_online {color: #FFF5DD;font-weight: bold;} 
a img{ border:0px; text-decoration:none;} 

body {
	
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}



