body{background-color:#CCCCCC} 
h1 { color:#C1C1C1 !important; text-align:left;font-size:18px; } 
h2 { font-size: 13px; font-weight: bold; color: #BBBBBB !important;margin:4px; } 
h3 { font-size: 16px;font-weight: bold;color: #CC3300 !important;margin:10px 5px; } 
.acymailing_unsub {color:#000000;font-style: italic;} 
.acymailing_online {color:#000000;font-style: italic;} 
a img{ border:0px; text-decoration:none;} 


body {
	
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}

