/*------------------------------------*\
	$loading - loading.less
\*------------------------------------*/
.loader {
	background-image: url("@{media_uri}/../images/loading.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	min-height: 20px;
}
