/*------------------------------------*\
	$Variables.less
\*------------------------------------*/

/*no longer load bootstrap/variables.
*/

//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Typography
// -------------------------
//http://css-tricks.com/sans-serif/
@sansFontFamily:        'Lucida Grande', 'Gisha', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Arial, Verdana, sans-serif;
@serifFontFamily:       serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          12px;
@baseLineHeight:        16px;
@baseFontFamily:        @sansFontFamily;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor



// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height
@fontSizeLarge:         16px; // ~18px
@fontSizeSmall:         11px; // ~12px
@fontSizeMini:          11px; // ~11px

@paddingLarge:          11px 19px; // 44px
@paddingSmall:          2px 10px;  // 26px
@paddingMini:           0 6px;   // 22px

@baseBorderRadius:      3px;
@borderRadiusLarge:     4px;
@borderRadiusSmall:     2px;

// HR
@hrBorder: darken(@esBorder, -10%);
@hrBorderBottom: darken(@hrBorder, -8%);

// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;
@paginationColor: inherit;

// TB-Buttons
// ----------------
@btnTextShadow: 0 1px 1px rgba(0,0,0,.1);
@btnTextShadowAlt: 0 1px 1px rgba(255,255,255,.1);
@btnTextShadowNone: 0 0px 0px rgba(255,255,255,.1);
// ES-Buttons
// -------------------------
@btnEsTextShadow: 0 1px 1px rgba(0,0,0,.1);

@btnEsPrimaryBackground: #91c2ea;
@btnEsPrimaryBackgroundHighlight: #6d9cca;

@btnEsWarningBackground: #fde59d;
@btnEsWarningBackgroundHighlight: #f4bb30;

@btnEsSuccessBackground: #bcd669;
@btnEsSuccessBackgroundHighlight: #97bb41;

@btnEsDangerBackground: #be1f23;
@btnEsDangerBackgroundHighlight: #a6170f;

@btnEsInverseBackground: #797979;
@btnEsInverseBackgroundHighlight: #585858;


// Alert
// ----------------

@warningEsText:            	#785a02;
@warningEsBackground: 		#ffeca7;
@warningEsBorder:           darken(spin(@warningEsBackground, -1), 12%);

@successEsText:             #2f611c;
@successEsBackground: 		#b0cc5b;
@successEsBorder:           darken(spin(@successEsBackground, -10), 5%);

@errorEsText:               #fff;
@errorEsBackground: 		#de614f;
@errorEsBorder:             darken(spin(@errorEsBackground, -10), 3%);

@infoEsText:                #2b4c6b;
@infoEsBackground: 			#adddf1;
@infoEsBorder:              darken(spin(@infoEsBackground, -10), 7%);

// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             3px;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border
@legendBorder: @esBorder;
@legengColor: @esColor;

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @grayDark;
@dropdownLinkColorActive:       @grayDark;

@dropdownLinkBackgroundActive:  #E7EDF3;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;


// textboxlist
// ----------------
@textboxlistBackgroundHighlight: 	#90c1e9;
@textboxlistBackground:				#6f9dce;


// Wells
// -------------------------
@wellBackground:                  #F5F5F5;

// Priority
// -------------------------
@priority1: 				#2aacd2;
@priority2: 				#51a351;
@priority3: 				#FBB450;
@priority4: 				#EE5F5B;


// Privacy
@esPrivacyBackground: @btnBackground;
@esPrivacyBackgroundHighlight: @btnBackgroundHighlight;
@esPrivacyActiveBackground: darken(@white, 9.5%); //e0e8f0
@esPrivacyColor: #858585; //858585
@esPrivacyBorder: #e1e1e1;
@esPrivacyTextshadow: @btnEsTextShadow;
@esPrivacyMenuActiveColor: darken(@white, 80%); //black


// btn-group-yesno
@esYesnoBackground: #e5e5e5;
@esYesnoColor: #626262;
@esYesnoBtnBackground: #c5c5c5;
@esYesnoBtnActiveBackground: #fff; 
@esYesnoBtnBackgroundHighlight: #f2f2f2;
@esYesnoBtnColor: #333;
@esYesnoBtnBorder: #c5c5c5;
@esYesnoBtnBorderBottom: #a7a7a7;
@esYesnoActiveColor: #626262;
@esYesnoTextShadow: 0 1px 1px rgba(255,255,255,.1);

@esArrowBackground: #fff;


// Modals
@esModalColor: #666;
@esModalBackground: #fff;
@esModalBackdropBackground: #000;
@esModalBorder: #c0c0c0;
@esModalHeaderBackgroundHighlight: #f8f8f8;
@esModalHeaderBackground: #ebebeb;
@esModalFooterBackground: #f5f5f5;

// Dialog
@esDialogColor: #595959;
@esDialogTitleColor: #666;

// Datepicker
@esDatePickerBackground: #fff;
@esDatePickerColor #636363;
@esDatePickerBorder: #ccc;
@esDatePickerHeaderBackgroundHighlight: #ececec;
@esDatePickerHeaderBackground: #f8f8f8;
@esDatePickerTdBorder: #aaa;

// Popbox
@esPopboxBackground: @esBackground;
@esPopboxBorder: rgba(0,0,0,.2);
@esPopboxBoxShadow: 0 5px 10px rgba(0,0,0,.2);
@esPopboxDetailsColor: white; //have to white
@esPopboxDetailsTextShadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
@esPopboxCoverBackground: #333;
@esPopboxFooterBackground: darken(@esPopboxBackground, 5%); //f2f2f2
@esPopboxItemColor: #555;
@esPopboxAvatarBorder: @esPopboxBackground;
@esPopboxAvatarBackground: @esPopboxBackground;
@esPopboxBtnBackground: #fff;
@esPopboxBtnBackgroundHighlight: darken(@esPopboxBtnBackground, 10%);
@esPopboxBtnColor: @grayDark;
@esPopboxBtnTextShadow: @btnTextShadowNone;
@esPopboxBtnBorder: @esBorder;
@esPopboxBtnHoverBackground: #e6e6e6;
