<?xml version="1.0" encoding="utf-8"?>
<form>
    <fieldset
            addfieldpath="/components/website/website_supper_admin/com_supperadmin/models/fields"
    >
        <field
                name="id"
                label="JGLOBAL_FIELD_ID_LABEL"
                description="JGLOBAL_FIELD_ID_DESC"
                type="text"
                default="0"
                readonly="true"
                class="readonly"/>

        <field
                name="plugin"
                type="plugin"
                required="true"
                label="plugin"
                description="plugin"/>
        <field
                name="title"
                type="text"
                required="true"
                label="Title"
                description="Title"/>


        <field name="extension_id" type="selectextension" extension_type="plugin"
               description="Extension"
               label="Extension"
               maximumSelectionLength="1"
        />


        <field
                name="is_system"
                type="list"
                class="chzn-color-state"
                label="Is extension system"
                description="Is extension system"
                size="1"
                default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                name="published"
                type="list"
                class="chzn-color-state"
                label="published"
                description="published"
                size="1"
                default="0">
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
                name="note"
                type="editor"
                readonly="true"
                label="Note"
                description="Note"/>



    </fieldset>
</form>
