<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Agriculture</title>

<style type="text/css">
<!--
body {
	background-color: #CCCCCC;
}
table,div{font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px;}
h1{color:#C1C1C1 !important; text-align:left;font-size:18px;}
h2{font-size: 13px; font-weight: bold; color: #BBBBBB !important;margin:4px;}
h3{font-size: 16px;font-weight: bold;color: #CC3300 !important;margin:10px 5px;}
.acymailing_unsub{color:#000000;font-style: italic;}
.acymailing_online{color:#000000;font-style: italic;}
-->
</style></head>

<body>
<div style="background-color:#CCCCCC;text-align:center">
  <table width="600" border="0" cellpadding="0" cellspacing="0" style="margin:auto;text-align:left">
	 <tr>
      <td width="600" height="42" valign="top"> <div align="center" style="font-size: 12px; text-align:center;">
This email contains graphics, so if you don't see them, {readonline}view it in your browser{/readonline}. </div></td>
    </tr>
    <tr>
      <td height="21" valign="top"><img src="header_1.png" width="600" height="21" alt="" /></td>
	</tr>
    <tr>
      <td valign="top">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color:#2E2E2E;">
          <tr>
            <td width="11" >&nbsp;</td>
            <td width="270" valign="top" style="color:#C1C1C1">
             <br /><h1>TITLE NAME <br />
            COMPANY SLOGAN </h1></td>
          <td width="319" rowspan="2" valign="bottom" style="background-color:#2E2E2E;"><img src="img_header1.png" width="319" height="213" alt="" /></td>
          </tr>
          <tr height="48">
            <td height="48" colspan="2" valign="bottom" style="background-color:#2E2E2E"><img src="header_3.png" width="281" height="48" alt="" /></td>
            </tr>
		</table>
    </td>
	</tr>
    <tr>
      <td valign="top">
		<table width="600" border="0" cellpadding="0" cellspacing="0" style="background-color: #2E2E2E;">
        <tr>
          <td width="12"></td>
            <td width="304">&nbsp;</td>
            <td width="61"></td>
            <td width="28"></td>
            <td width="182"></td>
            <td width="13"></td>
          </tr>
        <tr>
          <td width="12"></td>
            <td width="575" colspan="4" valign="top" style="color:#CC3300;"><h3>DEAR {subtag:name},</h3></td>
            <td width="13"></td>
          </tr>
        <tr>
          <td width="12"></td>
            <td width="365" colspan="2" valign="top" style="font-size: 12px;color: #838383; text-align:justify"><img src="img1.png" width="114" align="left" alt="" /><h2>Tortor Suspendisse lectus, dignissim sentarse amet</h2><p>, adipiscing ultricies ncop<br />
                sed, dolor. Elementum cras ultrices diam. Mecenas ligula massa, varius<br />
                un congue sempre,, euismod no, mi. porttitor PROIN, Orci ncop nonummy<br />
                molestie,<br/><img src="btn_readMore.png" width="83" height="26" align="middle" alt="" /></p>            <p><img src="img1.png" width="114" height="78" align="left" alt="" />Praesent<br />
                  blandit odio enim eu. Pellentesque sed ut dui augue sodales blandit.<br />
                  Ipsum primis vest&iacute;bulo ante en faucibus Orci luctus et ultrices posuere<br />
            cubilia Curae; nibh aliquam.<br/><img src="btn_readMore.png" width="83" height="26" align="middle" alt="" /></p></td>
            <td width="28">&nbsp;</td>
            <td width="195" colspan="2" valign="top"><table width="200" border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;
	color: #868686;
	background-color: #1F1F1F;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #454545;
	border-bottom-color: #454545;
	border-left-color: #454545;">
                
                <tr>
                  <td width="10" >&nbsp;</td>
                  <td width="190" valign="top" style="font-size: 12px;color: #BBBBBB;"><h2 align="center">NEW OFFER</h2>
                    <p >Duis massa arcu, scelerisque vitae</p>
                    <p>Ut en tempor pharetra risus volutpat l&iacute;bero.<br />
                    vest&iacute;bulo cras bibendum augue.</p>                  <p>Praesent egestas leo en pede. Praesent<br />
                  blandit odio enim eu. </p></td>
                </tr>
                <tr>
                  <td width="10" height="27">&nbsp;</td>
                  <td width="190">&nbsp;</td>
                </tr>
                
            </table></td>
          </tr>
        <tr>
          <td width="12" height="20"></td>
            <td width="574" colspan="4" valign="top"><img src="linea.png" width="365" height="2" alt="" /></td>
            <td width="13">&nbsp;</td>
          </tr>
        <tr>
          <td width="12"></td>
            <td width="574" colspan="4" valign="top"><img src="imgService.png" width="575" height="33" alt="" /></td>
            <td width="13">&nbsp;</td>
          </tr>
        <tr>
          <td width="12"></td>
            <td width="574"  colspan="4" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="14"></td>
                  <td width="160" valign="top" style="font-size: 12px;color: #838383; text-align:justify"><p>Su uso se amet, consectetuer adipiscing elit. Sed risus no.                Mecenas ligula massa, varius un congue sempre,, euismod no, mi</p></td>
                  <td width="22" valign="top"><img src="lineaVerical.png" width="22" height="142" alt="" /></td>
                  <td width="160" valign="top" style="font-size: 12px;color: #838383; text-align:justify"><p>Tortor Suspendisse lectus, dignissim sentarse amet,                Mecenas ligula massa, varius un congue sempre,, euismod no, mi</p></td>
                  <td width="24"></td>
                  <td width="195" ><img src="btn_NameSerice1.png" width="195" height="43" alt="" />

				  <img src="btn_NameSerice2.png" width="195" height="43" alt="" />

				  <img src="btn_NameSerice3.png" width="195" height="43" alt="" />
				  </td>
                </tr>
                                
            </table>          </td>
            <td width="13">&nbsp;</td>
          </tr>
        <tr>
          <td width="12" height="29"></td>
            <td width="574" colspan="4">&nbsp;</td>
            <td width="13">&nbsp;</td>
          </tr>
        <tr>
          <td colspan="5" width="600">
			<table width="100%" style="font-size: 12px;color: #838383;">
				<tr><td width="10"></td>
				<td width="290" valign="top" style="color: #838383; text-align:justify"><img src="img2.png" width="73" height="50" align="left" alt="" />porttitor PROIN, Orci ncop nonummy molestie, est enim eleifend mi, no nisl di&aacute;metro fermentum sentarse erat amet.<br />
            Duis sempre.</td>
				<td width="290" valign="top" style="color: #838383; text-align:justify" ><img src="img2.png" width="73" height="50" align="left" alt="" />porttitor PROIN, Orci ncop nonummy nisl dimetro fermentum sentarse
              molestie, est enim eleifend mi, no nisl dimetro fermentum sentarse erat amet.<br />
            Duis sempre.<br /></td>
			<td width="10"></td></tr>
			</table>
		  </td>
		 </tr>
        <tr>
          <td width="12" height="29"></td>
            <td width="574" colspan="4">&nbsp;</td>
            <td width="13">&nbsp;</td>
          </tr>
        <tr>
          <td width="12"></td>
            <td colspan="4" width="574" valign="top" style="font-size: 12px;color: #838383; text-align:justify"><img src="img3.png" width="147" height="99" align="left" alt="" /><h2>mauris Mauris sed ac pede pellentesque</h2>
              fermentum. Mecenas adipiscing ante sodales di&aacute;metro no hendrerit. Ut velita mauris, egestas sed, gesta nec, ut ornare, mi. Aenean ut vel Orci massa pulvinar suscipit. Nulla sollicitudin. Fusce varius, l&iacute;gula tempus no<br />
              aliquam, nibh nunc ullamcorper turpis, en el eros sapien tempus vitae l&iacute;gula. Pellentesque rhoncus et nunc augue. <br />
              Entero id felis. Curabitur<br />
            diam pellentesque aliquet;<br /><br /><br /><br /> </td>
            <td width="13">&nbsp;</td>
          </tr>        
      </table>
		</td>
	</tr>
    <tr>
      <td valign="top">
		<img src="footer.png" width="600" height="19" alt="" />
    </td>
	</tr>
    <tr>
      <td height="18">  </td>
	</tr>
    <tr>
      <td height="24" valign="top">
		<div align="center" style="font-size: 12px; text-align:center;color: #5C5C5C;">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe}</div>
	</td>
	</tr>
    <tr>
      <td height="39">
	  </td>
	  </tr>    
  </table>
</div>
</body>
</html>
