body
{
  overflow-x: hidden;
  .edit_website
  {
    position: fixed;
    right: 0;
    top: 0;

  }
}
.grid-stack
{
  margin: 0 auto;
}
.screen-layout
{
  overflow-x: hidden;
  overflow-y: scroll;
}
.grid-stack-item .grid-stack-item-content, .grid-stack-item .placeholder-content
{
  border: none
;
}