.t3-navbar .nav-pills > li.active > a, .t3-navbar .nav-pills > li.active > a:hover,.t3-navbar .nav-pills > li.active > a:focus
{
    background-color: #dc0e17;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.t3-navbar .nav-pills > li > a
{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.t3-navbar .nav > li > a:hover,.t3-navbar  .nav > li > a:focus
{
    background-color: #dc0e17;
}