



.main-container .block-item[data-block-id="681"][data-block-parent-id="679"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:none;
background-color:none;

}






.main-container .block-item[data-block-id="692"][data-block-parent-id="681"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:auto;
Float:left;

}


.main-container .block-item[data-block-id="693"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:none;
background-color:none;
width:200px;

}






.main-container .block-item[data-block-id="701"][data-block-parent-id="700"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
Float:none;

}






.main-container .block-item[data-block-id="728"][data-block-parent-id="727"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
Float:none;

}


.main-container .block-item[data-block-id="991"][data-block-parent-id="989"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
Float:none;

}


.main-container .block-item[data-block-id="1001"][data-block-parent-id="993"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:auto;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1002"][data-block-parent-id="993"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:100%;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1003"][data-block-parent-id="992"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1004"][data-block-parent-id="992"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:100%;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1005"][data-block-parent-id="996"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1006"][data-block-parent-id="996"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:100%;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1007"][data-block-parent-id="995"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1008"][data-block-parent-id="995"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:100%;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1010"][data-block-parent-id="997"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
position:relative;
float:none;

}


.main-container .block-item[data-block-id="1011"][data-block-parent-id="997"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:100%;
position:relative;
float:none;

}






.main-container .block-item[data-block-id="1025"][data-block-parent-id="1018"]{
text-align:right;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:none;
color:none;
float:right;
display:auto;

}


.control-element[data-block-id="1025"][data-block-parent-id="1018"]{
text-align:right;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:none;
color:none;
float:none;
display:auto;

}
.main-container .block-item[data-block-id="1022"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:#01789a;
height:30px;
display:auto;

}


.control-element[data-block-id="1022"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
height:30px;
float:none;
display:auto;

}
.main-container .block-item[data-block-id="1028"][data-block-parent-id="1027"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:#f0f0f0;
border-top-style:solid;
border-top-color:#c3c3c3;
border-top-width:1px;
border-right-style:solid;
border-right-color:#c3c3c3;
border-right-width:1px;
border-bottom-style:solid;
border-bottom-color:#c3c3c3;
border-bottom-width:1px;
border-left-style:solid;
border-left-color:#c3c3c3;
border-left-width:1px;
display:auto;

}


.control-element[data-block-id="1028"][data-block-parent-id="1027"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:none;
display:auto;

}


.main-container .block-item[data-block-id="1445"][data-block-parent-id="1444"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:#428bca;
height:50px;
display:auto;

}


.control-element[data-block-id="1445"][data-block-parent-id="1444"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:#428bca;
height:50px;
float:auto;
display:auto;

}


.main-container .block-item[data-block-id="1448"][data-block-parent-id="1447"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:none;
color:none;
display:auto;

}


.control-element[data-block-id="1448"][data-block-parent-id="1447"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:none;
color:none;
float:auto;
display:auto;

}
.main-container .block-item[data-block-id="1801"][data-block-parent-id="1800"]{
text-align:right;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:none;
color:none;
display:auto;

}


.control-element[data-block-id="1801"][data-block-parent-id="1800"]{
text-align:right;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:none;
color:none;
float:auto;
display:auto;

}




.main-container .block-item[data-block-id="2077"][data-block-parent-id="2076"]{
font-size:25px;
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:#ffffff;
display:auto;

}


.control-element[data-block-id="2077"][data-block-parent-id="2076"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:auto;
display:auto;

}
.main-container .block-item[data-block-id="586"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
display:auto;

}


.control-element[data-block-id="586"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:none;
display:auto;

}


.main-container .block-item[data-block-id="685"][data-block-parent-id="681"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
width:auto;
Float:left;

}


.main-container .block-item[data-block-id="988"][data-block-parent-id="987"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
border-right-width:0;
float:right;

}


.control-element[data-block-id="988"][data-block-parent-id="987"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:none;

}










.main-container .block-item[data-block-id="1017"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
display:auto;

}


.control-element[data-block-id="1017"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:none;
display:auto;

}




.main-container .block-item[data-block-id="2075"][data-block-parent-id="365"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:#2b93b4;
padding-top:5px;
padding-right:5px;
padding-bottom:5px;
padding-left:5px;
display:auto;

}

.main-container .block-item[data-block-id="2075"][data-block-parent-id="365"] {
    background-color: #1c89ab;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDE3NzlhIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjM0MiIvPjxzdG9wIHN0b3AtY29sb3I9IiMyYzk0YjUiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwLjU5NyIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMTc3OWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, #01779a),color-stop(0.342, #2c94b5),color-stop(0.597, #2c94b5),color-stop(1, #01779a));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(top,#01779a 0%,#2c94b5 34.2%,#2c94b5 59.7%,#01779a 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to bottom,#01779a 0%,#2c94b5 34.2%,#2c94b5 59.7%,#01779a 100%);
    background-image: -ms-repeating-linear-gradient(top,#01779a 0%,#2c94b5 34.2%,#2c94b5 59.7%,#01779a 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .main-container .block-item[data-block-id="2075"][data-block-parent-id="365"] {
        filter: progid:DXImageTransform.Microsoft.main-container .block-item[data-block-id="2075"][data-block-parent-id="365"](startColorstr="#ff01779a",endColorstr="#ff01779a",GradientType=0);
    }
}
.control-element[data-block-id="2075"][data-block-parent-id="365"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:auto;
display:auto;

}




















.main-container .block-item[data-block-id="1789"][data-block-parent-id="365"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
display:auto;

}


.control-element[data-block-id="1789"][data-block-parent-id="365"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:auto;
display:auto;

}


.main-container .block-item[data-block-id="587"][data-block-parent-id="365"]{
text-align:inherit;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
color:#cccccc;
width:auto;
height:auto;
min-width:auto;
max-width:auto;
min-height:auto;
max-height:auto;
display:auto;
widows:auto;

}


.control-element[data-block-id="587"][data-block-parent-id="365"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:auto;
display:auto;

}


.main-container .block-item[data-block-id="1790"][data-block-parent-id="365"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
background-color:#75b9e6;
height:50px;
display:auto;

}


.control-element[data-block-id="1790"][data-block-parent-id="365"]{
text-align:auto;
text-decoration:inherit;
text-transform:inherit;
vertical-align:inherit;
white-space:inherit;
float:auto;
display:auto;

}

.block-item[data-module-id="1070"][element-type="module"]{
margin-top:200px;
Float:none;

}
