.menu_tour .tab-content .tab-pane {
	padding: 5px;
}
.menu_tour .tab-content .tab-pane .list-menu-item {
	width: 80%;
	list-style: none;
}
.menu_tour .tab-content .tab-pane .list-menu-item li.active,
.menu_tour .tab-content .tab-pane .list-menu-item li.active a {
	color: #f0713a;
}
